<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Quản lý phòng ban</h4>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)="openCreateRoot()"><i class="fa fa-plus mr-2"></i>Thêm mới phòng ban cấp cao</button>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 mb-3">
           <div class="input-group">
               <input class="form-control" [(ngModel)]="keyword" pInputText placeholder="Nhập từ khóa...">
               <span class="input-group-append"><button class="btn btn-outline-primary" (click)="filterDepartments(keyword)"><i class="fa fa-search mr-2"></i>Tìm kiếm</button></span>
           </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="w-100" [busy]="isTableLoading">
                <p-tree [filter]="true" filterPlaceholder="Nhập từ khóa..." selectionMode="single" (onNodeSelect)="nodeSelect($event)" [styleClass]="'w-100'" [value]="listTreeNodeDepartments"></p-tree>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formGroup">
                        <div class="form-group">
                            <label class="required">Tên phòng / ban / đơn vị:</label>
                            <input formControlName="departmentNameCtrl" [(ngModel)]="departmentInfo.departmentName" class="w-100 form-control" pInputText/>
                            <mat-error *ngIf="formGroup.controls.departmentNameCtrl.hasError('required') && formGroup.controls.departmentNameCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
                        </div>
                        <div class="form-group">
                            <label>Cấp:</label>
                            <input formControlName="levelCtrl" [(ngModel)]="departmentInfo.level" class="w-100 form-control" pInputText/>
                        </div>
                        <div class="form-group">
                            <label>Đơn vị / phòng / ban trực thuộc:</label>
                            <input formControlName="dependentDepartmentCtrl" [(ngModel)]="departmentInfo.dependentDepartment" class="w-100 form-control" pInputText/>
                        </div>
                        <div class="text-right">
                            <button *ngIf="departmentInfo.departmentName !== departmentName" class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu thay đổi</button>
                            <button *ngIf="departmentName" [disabled]="departmentInfo.hasChild" class="btn btn-outline-danger mr-2" (click)="delete()"><i class="fa fa-trash-o mr-2"></i>Xóa</button>
                            <button *ngIf="departmentName" class="btn btn-outline-success mr-2" (click)="openCreateChild()"><i class="fa fa-plus mr-2"></i>Thêm phòng ban con</button>
                            <button *ngIf="departmentName" class="btn btn-outline-success" (click)="openAddUserToDepartment()"><i class="fa fa-user-plus mr-2"></i>Thêm người dùng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>
