<form [formGroup]="formGroup" novalidate>
    <section class="content">
        <div class="row mb-3">
            <div class="col-md-6">
                <h4>{{ this.form.id ? 'Thông tin văn bản đến' : 'Thêm mới văn bản đến' }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Trích yếu:</label>
                    <textarea formControlName="shortDescriptionCtrl" pInputTextarea class="w-100 form-control"
                        [(ngModel)]="form.shortDescription"></textarea>
                    <mat-error
                        *ngIf="formGroup.controls.shortDescriptionCtrl.hasError('required') && formGroup.controls.shortDescriptionCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Lĩnh vực văn bản:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="documentFieldCtrl" [(ngModel)]="form.documentFieldId" [options]="documentFields"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.documentFieldCtrl.hasError('required') && formGroup.controls.documentFieldCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Loại văn bản:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="documentTypeCtrl" [(ngModel)]="form.documentTypeId" [options]="documentTypes"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.documentTypeCtrl.hasError('required') && formGroup.controls.documentTypeCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Ngày ban hành:</label>
                    <div>
                        <p-calendar [styleClass]="'w-100'" [inputStyleClass]="'w-100'" formControlName="publishedDateCtrl" [(ngModel)]="form.publishedDate" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <mat-error *ngIf="formGroup.controls.publishedDateCtrl.hasError('required') && formGroup.controls.publishedDateCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Ngày đến:</label>
                    <div>
                        <p-calendar [styleClass]="'w-100'" [inputStyleClass]="'w-100'" formControlName="arrivedDateCtrl" [(ngModel)]="form.arrivedDate" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <mat-error *ngIf="formGroup.controls.arrivedDateCtrl.hasError('required') && formGroup.controls.arrivedDateCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required">Năm:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="yearCtrl" [(ngModel)]="form.year" [options]="years"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.yearCtrl.hasError('required') && formGroup.controls.yearCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required">Sổ VB đến:</label>
                    <div>
                       <p-dropdown [styleClass]="'w-100'" formControlName="arrivedFolderCtrl" (onChange)="changeArrivedFolders($event)" [(ngModel)]="form.arrivedFolderId" [options]="arrivedFolders"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.arrivedFolderCtrl.hasError('required') && formGroup.controls.arrivedFolderCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Số đến:</label>
                    <input class="form-control" formControlName="arrivedNumberCtrl" [(ngModel)]="form.arrivedNumber"
                        class="w-70 form-control" pInputText disabled />
                    <mat-error *ngIf="formGroup.controls.arrivedNumberCtrl.hasError('required') && formGroup.controls.arrivedNumberCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Số ký hiệu:</label>
                    <div> 
                    <p-autoComplete [styleClass]="'w-100'" [inputStyleClass]="'w-100'" [panelStyleClass]="'w-100'" [(ngModel)]="form.documentNumber" formControlName="selectedDocumentNumberCtrl" [suggestions]="filteredDocumentNumbers" (completeMethod)="filterDocumentNumbers($event)" [minLength]="1" [dropdown]="true">
                    </p-autoComplete>
                    <button pButton type="button" (click)='createNewDocumentNumber()' icon="pi pi-plus" class="ui-button-success ui-button-autocomplete-suffix"></button>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.selectedDocumentNumberCtrl.hasError('required') && formGroup.controls.selectedDocumentNumberCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Người ký:</label>
                    <input formControlName="signedByNameCtrl" [(ngModel)]="form.signedByName" class="w-100 form-control" pInputText/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Số bản phát hành:</label>
                    <input formControlName="numberOfPublishCtrl" pInputText [(ngModel)]="form.numberOfPublish" class="w-100 form-control"  type="number"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Số trang văn bản:</label>
                    <input formControlName="numberOfPagesCtrl" pInputText [(ngModel)]="form.numberOfPages" class="w-100 form-control" type="number"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nơi lưu bản chính:</label>
                    <input formControlName="storedPlaceCtrl" [(ngModel)]="form.storedPlace" class="w-100 form-control" pInputText/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label class="required">File văn bản:</label>
                    </div>
                    <div class="col-md-9 text-right">
                        <a class="mr-2" href="javascripts:;"><i class="fa fa-print mr-1"></i>Scan</a>
                        <a  *ngIf="this.form.status === 0 || !this.form.status" href="javascripts:;" (click)="$event.stopPropagation(); focusChooseFiles()"><i class="fa fa-link mr-1"></i>Chọn văn bản đính kèm(10MB)</a>
                        <input #chooseFile accept=".doc,.xlsx,.xls,.pdf,.docx" type="file" hidden multiple (change)="chooseFiles($event)"/>
                    </div>
                </div>
                <div>
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên file</th>
                                <th scope="col" *ngIf="this.form.status === 0 || !this.form.status">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of form.files; let i= index">
                                <td>{{ i + 1  }}</td>
                                <td>
                                    <a href="javascripts:;" (click)="download(file.fileUrl)">{{ file.fileName }}</a>
                                </td>
                                <td  *ngIf="this.form.status === 0"><i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative" style="bottom: 1px;" matTooltip="Xóa" (click)="removeAttachedFile(i)"></i></td>
                            </tr>
                            <tr *ngFor="let file of relatedFiles; let i= index">
                                <td>{{ i + 1 + form.files.length }}</td>
                                <td>{{ file.name }}</td>
                                <td *ngIf="this.form.status === 0 || !this.form.status"><i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative" style="bottom: 1px;" matTooltip="Xóa" (click)="removeFile(i)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Cơ quan ban hành:</label>
                    <div>
                        <p-autoComplete [styleClass]="'w-100'" [inputStyleClass]="'w-100'" [panelStyleClass]="'w-100'" [(ngModel)]="form.publishedOrganization" formControlName="selectedPublishedOrganizationCtrl" [suggestions]="filteredPublishedOrganizations"
                         (completeMethod)="filterPublishedOrganizations($event)" [minLength]="1" [dropdown]="true">
                        </p-autoComplete>
                        <button pButton type="button" (click)='createNewPublishedOrganization()' icon="pi pi-plus" class="ui-button-success ui-button-autocomplete-suffix"></button>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.selectedPublishedOrganizationCtrl.hasError('required') && formGroup.controls.selectedPublishedOrganizationCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Lãnh đạo phê duyệt:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" filter="true" formControlName="approvedByIdCtrl" [(ngModel)]="form.approvedById" [options]="leaderShipApprovedUsers"></p-dropdown>
                    </div>
                    <mat-error *ngIf="formGroup.controls.approvedByIdCtrl.hasError('required') && formGroup.controls.approvedByIdCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Cấp độ khẩn:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="urgentLevelCtrl" [(ngModel)]="form.urgentLevel" [options]="urgentLevels"></p-dropdown>
                    </div>
                    <mat-error *ngIf="formGroup.controls.urgentLevelCtrl.hasError('required') && formGroup.controls.urgentLevelCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Cấp độ mật:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="secretLevelCtrl" [(ngModel)]="form.secretLevel" [options]="secretLevels"></p-dropdown>
                    </div>
                    <mat-error *ngIf="formGroup.controls.secretLevelCtrl.hasError('required') && formGroup.controls.secretLevelCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Ghi chú:</label>
                    <textarea formControlName="descriptionCtrl" pInputTextarea class="w-100 form-control" [(ngModel)]="form.description"></textarea>
                </div> 
            </div>
            <div class="col-md-12 mb-4" *ngIf="form.id && form.id > 0">
                <div class="row">
                    <div class="col-md-4">
                        <p-checkbox label="Văn bản đã duyệt"></p-checkbox>
                    </div>
                    <div class="col-md-4">
                        <p-checkbox label="Gửi tin nhắn đến lãnh đạo"></p-checkbox>
                    </div>
                    <div class="col-md-4">
                        <p-checkbox label="Gửi email đến lãnh đạo"></p-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3" *ngIf="!form.id || form.id <= 0">
                <div class="text-right">
                    <button class="btn btn-outline-primary mr-2" type="submit" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
                    <button class="btn btn-outline-danger" (click)="backtrack()"><i class="fa fa-ban mr-2"></i>Hủy</button>
                </div>
            </div>
            <div class="col-md-12 mb-3" *ngIf="form.id && form.id > 0">
                <div class="text-center">
                    <button class="btn btn-outline-primary mr-2"><i class="fa fa-copy mr-2"></i>Copy</button>
                    <button class="btn btn-outline-success mr-2"><i class="fa fa-edit mr-2"></i>Ký sổ</button>
                    <button *ngIf="this.form.status != 1" class="btn btn-primary mr-2" (click)="this.form.status = 0; save()"><i class="fa fa-save mr-2"></i>Lưu chờ chuyển</button>
                    <button *ngIf="this.form.status != 1" class="btn btn-success mr-2" (click)="this.form.status = 1; save()"><i class="fa fa-share mr-2"></i>Chuyển lãnh đạo duyệt</button>
                    <button class="btn btn-secondary" (click)="backtrack()"><i class="fa fa-arrow-left mr-2"></i>Trở về</button>
                </div>
            </div>
        </div>

    </section>
</form>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>