  <div class="row">
    <div class="col-md-12">
      <h5 class="title">Sửa vai trò</h5>
      <mat-tab-group>
        <form [formGroup]="formGroup">
          <mat-tab [label]="'Thông tin' | localize">
            <ng-template matTabContent>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="required">{{'Mã vai trò:'|localize}}</label>
                    <input formControlName="nameCtrl" class="w-100 form-control" pInputText [(ngModel)]="role.name"/>
                    <mat-error
                      *ngIf="formGroup.controls.nameCtrl.hasError('required') && formGroup.controls.nameCtrl.touched">
                      {{ 'Không được để trống' | localize }}</mat-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="required">{{'Tên vai trò:'|localize}}</label>
                    <input formControlName="displayNameCtrl" class="w-100 form-control" pInputText
                      [(ngModel)]="role.displayName"/>
                    <mat-error
                      *ngIf="formGroup.controls.displayNameCtrl.hasError('required') && formGroup.controls.displayNameCtrl.touched">
                      {{ 'Không được để trống' | localize }}</mat-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{'Mô tả:'|localize}}</label>
                    <textarea formControlName="descriptionCtrl" pInputTextarea class="w-100 form-control"
                      [(ngModel)]="role.description"></textarea>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </form>
        <mat-tab [label]="'Phân quyền' | localize">
          <div class="row-fluid">
            <ng-template ngFor let-permission [ngForOf]="permissions">
              <div class="col-md-12">
                <div class="checkbox-wrapper">
                  <mat-checkbox color="primary" [checked]="isPermissionChecked(permission.name)" [disabled]="role.isStatic"
                    (change)="onPermissionChange(permission, $event)">
                    {{ permission.displayName }}
                  </mat-checkbox>
                </div>
              </div>
              <div *ngIf='permission.children.length>0'>
                <ng-template ngFor let-child [ngForOf]="permission.children">                  
                  <div class="col-md-10">
                    <div class="checkbox-wrapper">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-checkbox color="primary" [checked]="isPermissionChecked(child.name)" [disabled]="role.isStatic"
                        (change)="onPermissionChange(child, $event)">
                        {{ child.displayName }}
                      </mat-checkbox>
                    </div>
                  </div>
                  <div *ngIf='child.children.length>0'>
                    <ng-template ngFor let-grandchild [ngForOf]="child.children">                  
                      <div class="col-md-10">
                        <div class="checkbox-wrapper">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-checkbox color="primary" [checked]="isPermissionChecked(grandchild.name)" [disabled]="role.isStatic"
                            (change)="onPermissionChange(grandchild, $event)">
                            {{ child.displayName }}
                          </mat-checkbox>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
      <button class="btn btn-outline-danger" (click)="close(false)"><i class="fa fa-ban mr-2"></i>Hủy</button>
    </div>
  </div>