<form [formGroup]="formGroup">
    <div class="row">
    <div class="col-12 mb-3">
        <h5 class="title">Reset mật khẩu</h5>
    </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="required">Mật khẩu tài khoản admin:</label>
                <input type="password" formControlName="adminPasswordCtrl" class="w-100 form-control" pInputText  [(ngModel)]="resetPassword.adminPassword"/>
                <mat-error *ngIf="formGroup.controls.adminPasswordCtrl.hasError('required') && formGroup.controls.adminPasswordCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="required">Mật khẩu mới(sinh ngẫu nhiên):</label>
                <input formControlName="newPasswordCtrl" class="w-100 form-control" pInputText  [(ngModel)]="resetPassword.newPassword"/>
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
            <button class="btn btn-outline-danger" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        </div>
        </div>
</form>
