<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Quản lý văn bản đi chờ xử lý</h4>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)="goToCreateDepartureDocument()"><i class="fa fa-plus mr-2"></i>Thêm mới</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-5">
                    <div class="card cursor-pointer mat-elevation-z1" [busy]="isStatisticLoading" (click)="this.input.status = 0; this.refresh();">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">Đang soạn thảo</h6>
                            <h5 class="mb-0">{{ numberOfTextingDocuments }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-5">
                    <div class="card cursor-pointer mat-elevation-z1" [busy]="c" (click)="this.input.status = 1; this.refresh();">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">Chờ phê duyệt</h6>
                            <h5 class="mb-0">{{ numberOfSentDocuments }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-5">
                    <div class="card cursor-pointer mat-elevation-z1" [busy]="isStatisticLoading" (click)="this.input.status = 2; this.refresh();">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">Chờ chỉnh sửa</h6>
                            <h5 class="mb-0">{{ numberOfWaitingDocuments }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" [ngSwitch]="this.input.status">
            <h5 *ngSwitchDefault>Danh sách văn bản đang soạn thảo</h5>
            <h5 *ngSwitchCase="1">Danh sách văn bản chờ phê duyệt</h5>
            <h5 *ngSwitchCase="2">Danh sách văn bản chờ chỉnh sửa</h5>
            <!-- Begin witdh 100% search box -->
            <!-- <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nhập từ khóa..."
                            [(ngModel)]="input.keyword" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <span class="fa fa-search"></span>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <input class="form-control" pInputText placeholder="Nhập từ khóa..."/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button"><i class="fa fa-search mr-2"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End witdh 100% search box -->
            <!-- Begin advanced search form -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mb-2">
                        <a class="font-xs" (click)="openFilter = !openFilter" href="javascripts:;">{{ openFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' | localize }}</a>
                    </div> 
                </div>
            </div>
            <div *ngIf="openFilter">
                <!-- Begin advanced search form -->
                <!-- <div class="row mb-6">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a [routerLink]="" (click)="toggleAndvancedSearch()">
                            {{isAdvancedSearch ? 'Ẩn' : 'Hiển thị'}} lọc nâng cao
                        </a>
                    </div>
                </div> -->
                <div class="row">
                    <form class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{"Trích yếu" | localize}}</label></div>
                                    <div class="col-md-10 form-group">
                                        <input pInputText [(ngModel)]="input.keyword" [ngModelOptions]="{standalone: true}"
                                            type="text" class="w-100" placeholder="Nhập trích yếu">
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("RoleProcecss")}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <p-dropdown [style]="{ width: '100%' }" placeholder="-Tất cả-" [options]="rolesHandling"
                                            [(ngModel)]="input.roleHandling" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                    </div>
    
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("LevelUrgent")}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <p-dropdown [style]="{ width: '100%' }" placeholder="-Tất cả-" [options]="urgentLevel"
                                            [(ngModel)]="input.urgentLevel" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{"Thời gian trình phê duyệt" | localize}}</label></div>
                                    <div class="col-md-10">
                                        <div class="card mb-0 box-advanced-search">
                                            <div class="card-body d-block d-md-flex justify-content-between">
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mr-4">Năm</label>
                                                    <p-multiSelect [style]="{'min-width' : '200px'}" [options]="years" [(ngModel)]="input.year" (onChange)="changeYears($event)" [ngModelOptions]="{standalone: true}" defaultLabel="-- Tìm kiếm theo năm hoặc ngày --">
                                                    </p-multiSelect>
                                                </div>
                                                <div class="d-block d-sm-flex" *ngIf="!isYearSearch">
                                                    <div class="mr-2 mr-md-5 mb-3 mb-md-0">
                                                        <label class="mr-4">Từ</label>
                                                        <p-calendar dateFormat="dd/mm/yy" icon="fa fa-calendar" [(ngModel)]="input.fromDate"  [ngModelOptions]="{standalone: true}" [showIcon]="true"></p-calendar>
                                                    </div>
                                                    <div class="mb-3 mb-md-0">
                                                        <label class="mr-4">Đến</label>
                                                        <p-calendar dateFormat="dd/mm/yy" icon="fa fa-calendar" [(ngModel)]="input.toDate"  [ngModelOptions]="{standalone: true}" [showIcon]="true"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Loại văn bản")}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <p-dropdown [(ngModel)]="input.documentTypeId" [options]="documentTypes" [ngModelOptions]="{standalone: true}" [style]="{ width: '100%' }"></p-dropdown>
                                    </div>
    
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Lĩnh vực chuyên môn")}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <p-dropdown [(ngModel)]="input.documentFieldId" [options]="documentFields" [ngModelOptions]="{standalone: true}" [style]="{ width: '100%' }"></p-dropdown>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-primary mr-2" type="button" (click)="getDataPage(0)">
                                        <span class="fa fa-search"></span>
                                        Tìm kiếm
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" (click)="refreshFilter(input.status)">
                                        <span class="fa fa-refresh mr-1"></span>
                                        Làm lại
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
    </div>
            <!-- End advanced search form -->
        </div>
        <div class="col-md-12">
            <div class="w-100 mb-3 overflow-auto" [busy]="isTableLoading">
                    <p-table [styleClass]="'w-100'" [columns]="columns" [value]="listdepartureDocuments" [rowHover]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;">STT</th>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <!-- <th *ngSwitchCase="'act'" align="center" style="width: 5rem;">
                                        #
                                    </th> -->
                                    <th *ngSwitchDefault>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                                <th *ngIf="input.status === 0">Thời gian tạo văn bản</th>
                                <th *ngIf="input.status !== 0">Thời gian trình phê duyệt</th>
                                <th align="center" style="width: 5rem;"> # </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <!-- <td *ngSwitchCase="'act'" align="center">
                                        <i class="cursor-pointer fa fa-edit text-danger" matTooltip="Sửa"
                                            (click)="edit(rowData)"></i>
                                        <i class="cursor-pointer fa fa-trash text-danger" matTooltip="Xóa"
                                            (click)="delete(rowData)"></i>
                                    </td> -->
                                    <td *ngSwitchCase="'urgentLevelName'">
                                        <span [ngSwitch]="rowData['urgentLevel']">
                                            <i *ngSwitchCase="1" class="fa fa-star text-success mr-2"></i>
                                            <i *ngSwitchCase="2" class="fa fa-star text-warning mr-2"></i>
                                            <i *ngSwitchCase="3" class="fa fa-star text-danger mr-2"></i>
                                            <i *ngSwitchCase="4" class="fa fa-rocket text-warning mr-2"></i>
                                            <i *ngSwitchDefault class="fa fa-rocket text-danger mr-2"></i>
                                        </span>
                                        {{rowData[col.field]}}
                                    </td>
                                    <td *ngSwitchDefault [attr.align]="col.align">
                                        {{rowData[col.field]}}
                                    </td>
                                </ng-container>
                                <ng-container>
                                    <td *ngIf="input.status === 0" align="center">{{rowData['creationTime'] | date:'dd/MM/yyyy'}}</td>
                                    <td *ngIf="input.status !== 0" align="center">{{rowData['sentDate'] | date:'dd/MM/yyyy'}}</td> 
                                </ng-container>
                                <td align="center" [ngSwitch]="input.status">
                                    <span *ngSwitchCase="0">
                                        <span *ngIf="checkPermission(rowData)">
                                            <i class="cursor-pointer fa fa-edit text-primary mr-2" matTooltip="Sửa"
                                                (click)="showDetailDocumentToEdit(rowData['id'], true)"></i>
                                            <i class="cursor-pointer fa fa-trash text-danger position-relative" style="bottom: 1px;" matTooltip="Xóa"
                                                (click)="delete(rowData)"></i>
                                        </span>
                                        <span *ngIf="!checkPermission(rowData)">
                                            <i class="cursor-pointer fa fa-search text-primary mr-2" matTooltip="Xem" (click)="showDetailDocument(rowData['id'], false, false)"></i>
                                        </span>
                                    </span>
                                    <span *ngSwitchCase="2">
                                        <span *ngIf="checkPermissionToChinhSua(rowData)">
                                            <i class="cursor-pointer fa fa-edit text-primary mr-2" matTooltip="Sửa"
                                                (click)="showDetailDocumentToEdit(rowData['id'], true)"></i>
                                        </span>
                                        <span *ngIf="!checkPermissionToChinhSua(rowData)">
                                            <i class="cursor-pointer fa fa-search text-primary mr-2" matTooltip="Xem" (click)="showDetailDocument(rowData['id'], false, false)"></i>
                                        </span>
                                    </span>
                                    <span *ngSwitchDefault>
                                        <i class="cursor-pointer fa fa-search text-primary mr-2" matTooltip="Xem" (click)="showDetailDocument(rowData['id'], false)"></i>
                                        <i class="cursor-pointer fa fa-sitemap text-default position-relative" style="bottom: 1px;" matTooltip="Xem lịch sử xử lý"></i>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="5">
                                    Không tìm thấy văn bản đến nào nào!
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                <mat-paginator style="position: sticky; left: 0;"
                    (page)="getDataPage($event.pageIndex + 1, $event.pageSize)" [length]="totalItems"
                    [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
        </div>
    </div>
</section>