<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Đăng nhập</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" novalidate
                            autocomplete="off"
                            #loginForm="ngForm"
                            (ngSubmit)="login()">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" class="form-control rounded-0" pInputText name="uname1" id="uname1" required="">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginService.authenticateModel.password" class="form-control rounded-0" pInputText id="pwd1" required="" autocomplete="new-password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
                                <div class="mb-2">
                                    <p-checkbox binary="true" label="Nhớ mật khẩu" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginService.rememberMe"></p-checkbox>
                                </div>
                                <div class="w-100 text-center">
                                    <button type="submit" class="btn btn-outline-danger"><i class="fa fa-sign-in mr-2"></i>Login</button>
                                </div>                               
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->