  .icon-label {
    opacity: 0.6;
    padding: 0.5rem;
  }
  .label{
    font-weight: 600;
    margin-bottom: 0;
  }
  .icon-log-call{
    padding: 5px 7px;
    background: #28a745;
    border-radius: 50%;
    color: #ffffff;
  }
  .icon-log-mail{
    padding: 7px 7px;
    background: #007bff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.75rem;
  }
  .icon-log-chat{
    padding: 5px 5px;
    background: #dc3545;
    border-radius: 50%;
    color: #ffffff;
  }
.history-child .card:not(.detail)::before {
    position: absolute;
    width: 1.75rem;
    height: 6.75rem;
    content: "";
    border-bottom: 1px dashed #333333;
    border-left: 1px dashed #333333;
    left: -1.75rem;
    z-index: 1;
    bottom: 50%;
}
.history-child .card:not(.detail)::after {
  position: absolute;
  content: "\f0da";
  font: normal normal normal 14px/1 FontAwesome;
  z-index: 1;
  bottom: calc(50% - 7px);
  left: -1.75rem;
  transform: rotate(45deg);
}
@media (min-width: 768px){
.w-md-50 .card{
    width: 50%;
}
}