<section class="content">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h4>Lịch sử xử lý</h4>
        </div>
        <div class="col-md-6 mb-3">
                <div class="input-group">
                    <input class="form-control" pInputText placeholder="Nhập từ khóa..." type="text" [(ngModel)]="input.keyword"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" (click)="getArrivedDocumentHistory()"><i class="fa fa-search mr-2"></i>Tìm kiếm</button>
                    </div>
                </div>
        </div>
        <div class="col-md-12">
            <h5 *ngIf="listHistory.length === 0">Không tìm thấy lịch sử xử lý của văn bản!</h5>
            <div *ngFor="let history of listHistory" [style.padding-left]="history.paddingLeft" [ngClass]="{ 'history-child' : history.level > 0 }" [style.z-index]="history.zIndex" class="position-relative w-md-50">
                <div [ngClass]="{ 'mat-elevation-z12' : selectedHistory === history }" class="card" (click)="selectHistoryToView(history)">
                    <div class="d-flex">
                        <img class="m-auto icon-label rounded-circle" src="../../../../../assets/img/avatars/2.jpg" alt="name-icon" width="60" height="60"/>
                        <div class="w-100 py-2">
                          <p class="pl-2 label">{{ history.fullName }}</p>
                          <p class="pl-2 f-s-14 mb-0">{{ history.departmentName }}</p>
                          <p class="pl-2 mb-0 f-s-14" [ngSwitch]="history.arrivedDocumentUser.statusId"><i class="fa fa-clock-o mr-2"></i><span class="mr-3">{{ history.creationTime | date: 'dd/MM/yyyy' }}</span>
                            <span *ngSwitchCase="0" class="text-danger"><i class="fa fa-eye mr-2"></i>Chưa xử lý</span>
                            <span *ngSwitchCase="1" class="text-warning"><i class="fa fa-eye mr-2"></i>Đang xử lý</span>
                            <span *ngSwitchCase="2" class="text-success"><i class="fa fa-eye mr-2"></i>{{'Đã xử lý ('}}{{ history.arrivedDocumentUser.lastModificationTime | date:'dd/MM/yyyy hh:mm' }}{{ ')' }}</span>
                        </p>
                        </div>             
                      </div>
                </div>
                <div class="card position-absolute detail" [style.left]="history.left" style="top: -15%; z-index: 1000;" [hidden]="selectedHistory != history">
                    <div class="card-header justify-content-between d-flex">
                        <span class="font-weight-bold">Chi tiết</span>
                        <i class="fa fa-close cursor-pointer" (click)="selectedHistory = null" style="font-size: 1rem;"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="mr-2">Cán bộ:</label>
                                <span>{{ history.fullName }}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="mr-2">Đơn vị:</label>
                                <span>{{ history.departmentName }}</span>
                            </div>
                            <div class="col-md-6">
                                <label class="mr-2">Chức vụ:</label>
                                <span>{{ history.positionName }}</span>
                            </div>
                            <div class="col-md-6">
                                <label class="mr-2">Ngày nhận:</label>
                                <span>28/04/2020 16:27</span>
                            </div>
                            <div class="col-md-6" [ngSwitch]="history.arrivedDocumentUser.nonExpired">
                                <label class="mr-2">Hạn xử lý:</label>
                                <span class="text-danger" *ngSwitchCase="true">{{ "Không có hạn" }}</span>
                                <span class="text-danger" *ngSwitchDefault>{{ history.arrivedDocumentUser.expiredDate | date: 'dd/MM/yyyy' }}</span>
                            </div>
                            <div class="col-md-6">
                                <label class="mr-2">Ngày xử lý:</label>
                                <span class="text-danger">{{ history.handlingDate | date: 'dd/MM/yyyy hh:mm' }}</span>
                            </div>
                            <div class="col-md-6">
                                <label class="mr-2">Từ:</label>
                                <span>Văn bản đến</span>
                            </div>
                            <div class="col-md-6" [ngSwitch]="history.arrivedDocumentUser.allowRoleId">
                                <label class="mr-2">Vai trò:</label>
                                <span class="text-danger" *ngSwitchCase="1">Xử lý chính</span>
                                <span class="text-danger" *ngSwitchCase="2">Phối hợp xử lý</span>
                                <span class="text-danger" *ngSwitchDefault>Xem để biết</span>
                            </div>
                            <div class="col-md-12">
                                <label class="mr-2">Nội dung được chuyển:</label>
                                <span>{{ history.content }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
