<div class="row">
    <div class="col-12 mb-3">
        <h5 class="title">Thêm người dùng vào phòng ban</h5>
    </div>
    <div class="col-12">
        <div class="w-100 mb-3">
            <p-pickList filterBy="fullName" [sourceStyle]="{'width': '100%'}" responsive="true" dragdrop="true" sourceFilterPlaceholder="Tìm kiếm theo tên" targetFilterPlaceholder="Tìm kiếm theo tên" [targetStyle]="{'width': '100%'}" [styleClass]="'w-100'" [source]="listUserSelect" [target]="listUserSelected" [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-item pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div>{{ item.userName }} - {{ item.fullName }}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <div class="w-100 text-right">
            <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
            <button class="btn btn-outline-danger" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        </div>
    </div>
</div>
