<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 110, alt: 'Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, alt: 'Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
  >
  <div class="mr-auto">
    <button type="button" (click)="_toggleMinimize()" class="navbar-toggler d-none d-lg-block">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <!-- <a class="nav-link cursor-pointer" (click)="isOpenRow = !isOpenRow" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
        <span class="mr-2">{{ fullName }}</span>
      </a>
      <div class="dropdown-menu" [ngClass]="{ 'show': isOpenRow }">
        <div class="dropdown-header text-center"><strong>{{ "Tài khoản" | localize }}</strong></div>        
        <a class="dropdown-item cursor-pointer" (click)="logout()"><i class="fa fa-sign-out"></i>{{ "Đăng xuất" | localize }}</a>
      </div> -->
      <a class="nav-link cursor-pointer" (click)="logout()"><span class="mr-2"><i class="fa fa-sign-out"></i>{{ "Đăng xuất" | localize }}</span></a>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" [minimized]="minimized" #sidebar (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- <app-aside [fixed]="true" [display]="false">
  </app-aside> -->
</div>
<app-footer>
  <span><a href="#">Công ty cổ phần sữa Việt Nam Vinamilk</a> &copy; 2022.</span>
  <span class="ml-auto">Powered by <a href="https://www.vinamilk.com.vn/en">Đồ án tốt nghiệp</a></span>
</app-footer>
