<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Quản lý người dùng</h4>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)="openModalCreateUsers()"><i class="fa fa-plus mr-2"></i>Thêm mới</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
           <div class="input-group mb-2">
                <input class="form-control" pInputText placeholder="Nhập từ khóa..." [(ngModel)]="input.keyword">
                <!-- <span [matTooltip]="openFilter ? 'Ẩn bộ lọc' : 'Hiện bộ lọc'" class="ui-inputgroup-addon dropdown cursor-pointer" (click)="toggleFilter()"><i class="fa" [ngClass]="{ 'fa-caret-up' : openFilter , 'fa-caret-down' : !openFilter }"></i></span>   -->
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="getDataPage(0)"><i class="fa fa-search mr-2"></i>Tìm kiếm</button>
                </div>
           </div>
           <div class="mb-2">
                <a class="font-xs" (click)="toggleFilter()" href="javascripts:;">{{ openFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' | localize }}</a>
            </div> 
        </div>
        <div class="col-md-12" *ngIf="openFilter">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <!-- <p-multiSelect [styleClass]="'w-100'" (onChange)="getDataPage(0)" [(ngModel)]="input.listDepartmentId" [options]="departmentOptions" defaultLabel="-- Phòng ban --"></p-multiSelect> -->
                    <p-dropdown [styleClass]="'w-100'" [options]="values" (onChange)="changeDepartment($event)">
                        <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{ selection ? selection.label : "-- Phòng ban --" }}</span>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <p-tree *ngIf="item.value == 0" [styleClass]="'w-100'" [value]="departmentOptions" selectionMode="single" [(selection)]="selection" (onNodeSelect)="nodeSelect($event)"></p-tree>
                            <span *ngIf="item.value != 0">{{ item.label }}</span>
                        </ng-template>
                    </p-dropdown>   
                </div>
                <!-- <div class="col-md-3 mb-2">
                    <p-multiSelect [styleClass]="'w-100'" [(ngModel)]="input.listRoleId" [options]="roleOptions" defaultLabel="-- Vai trò --"></p-multiSelect>
                </div> -->
                <div class="col-md-6 mb-2">
                    <p-dropdown [(ngModel)]="input.isActive" (onChange)="getDataPage(0)" [options]="statusOptions" [styleClass]="'w-100'"></p-dropdown>
                </div>
                <!-- <div class="col-md-3 mb-2">
                    <p-calendar [inputStyleClass]="'w-100'" [styleClass]="'w-100'" selectionMode="range" dateFormat="dd/mm/yy" [readonlyInput]="true" placeholder="Lần đăng nhập cuối cùng"></p-calendar>
                </div> -->
            </div>
            
        </div>
        <div class="col-md-12 mb-3">
            <div (click)="isOpenRow = null" class="w-100 overflow-auto" [busy]="isTableLoading">
                <p-table [styleClass]="'w-100'" [columns]="cols" [value]="users" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchCase="'act'" align="center" style="width: 5rem;">
                                    #
                                </th>
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <td *ngSwitchCase="'isActive'" [ngClass]="{ 'text-success' : rowData[col.field] , 'text-danger' : !rowData[col.field] }">
                                    {{rowData[col.field] ? 'Đã kích hoạt' : 'Đã khóa' | localize}}
                                </td>
                                <td *ngSwitchCase="'gender'" align="center">
                                    {{rowData[col.field] == false ? 'Nữ' : '' | localize}}
                                    {{rowData[col.field] == true ? 'Nam' : '' | localize}}
                                </td>
                                <td *ngSwitchCase="'act'" align="center">
                                    <span class="dropdown dropleft">
                                        <i class="cursor-pointer fa fa-cogs text-primary mr-2" (click)="$event.stopPropagation() ;isOpenRow = (isOpenRow == rowData) ? null : rowData"></i>
                                        <div class="dropdown-menu" [ngClass]="{ 'show': isOpenRow === rowData }">
                                            <a class="dropdown-item" href="javascripts:;" (click)="changeActive(!rowData['isActive'], rowData)">{{ rowData['isActive'] ? 'Khóa tài khoản' : 'Kích hoạt tài khoản' | localize }}</a>
                                            <a class="dropdown-item" href="javascripts:;" (click)="openModalChangePassword(rowData)">Đổi mật khẩu</a>
                                            <a class="dropdown-item" href="javascripts:;" (click)="openModalResetPassword(rowData)">Reset mật khẩu người dùng</a>
                                          </div>
                                    </span>                                   
                                    <i class="cursor-pointer fa fa-edit text-danger" matTooltip="Sửa" (click)="openModalEditUsers(rowData)"></i>
                                </td>
                                <td *ngSwitchCase="'lastLoginTime'" align="center">
                                    {{rowData[col.field] | date: 'dd/MM/yyyy hh:mm:ss a'}}
                                </td>
                                <td *ngSwitchCase="'roleNames'">
                                    {{rowData[col.field].join(', ')}}
                                </td>
                                <td *ngSwitchCase="'emailAddress'" style="word-break: break-all;">
                                    {{rowData[col.field]}}
                                </td>
                                <td *ngSwitchDefault>
                                    {{rowData[col.field]}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="11">
                                Không tìm thấy người dùng!
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <mat-paginator style="position: sticky; left: 0;" #paginator (page)="getDataPage($event.pageIndex, $event.pageSize)" [length]="totalItems" [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
        </div>
    </div>
</section>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>
