<div class="row mb-3">
  <div class="col-md-12">
    <h4 class="titleDetail">Xác nhận từ chối văn bản</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Lý do từ chối văn bản</label>
      <textarea rows="5" pInputTextarea class="w-100 form-control" [(ngModel)]="form.contentRejected"></textarea>
    </div>
  </div>
</div>
<div class="actionButton">
  <button class="btn btn-action" (click)="close(false)">Hủy</button>
  <button class="btn btn-action" (click)="save()">Xác nhận</button>
</div>