<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Văn bản phát hành</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-4">
                    <div class="card mat-elevation-z1 cursor-pointer" (click)="search('totalWaitingForRelease')">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">Chờ phát hành</h6>
                            <h5 class="mb-0">{{ totalWaitingForRelease }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-4">
                    <div class="card mat-elevation-z1 cursor-pointer" (click)="search('totalReleased')">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">Đã phát hành</h6>
                            <h5 class="mb-0">{{ totalReleased }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12" [ngSwitch]="this.input.status">
            <h5 *ngSwitchDefault>Danh sách văn bản chờ phát hành</h5>
            <h5 *ngSwitchCase="7">Danh sách văn bản đã phát hành</h5>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mb-2">
                        <a class="font-xs" (click)="openFilter = !openFilter" href="javascripts:;">{{ openFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' | localize }}</a>
                    </div> 
                </div>
            </div>
            <div class="row" *ngIf="openFilter">
                <form class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Trích yếu")}}</label></div>
                                <div class="col-md-10 form-group">
                                    <input [(ngModel)]="input.shortDescription" pInputText [ngModelOptions]="{standalone: true}"
                                        type="text" class="form-control" placeholder="Nhập trích yếu">
                                </div>

                              
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Ngày xử lý")}}</label></div>
                                <div class="col-md-10">
                                    <div class="card mb-0 box-advanced-search">
                                        <div class="card-body d-block d-md-flex justify-content-between">
                                            <div class="mb-3 mb-md-0">
                                                <label class="mr-4">Năm</label>
                                                <p-multiSelect [style]="{'min-width' : '200px'}" [options]="years" [(ngModel)]="input.year" (onChange)="changeYears($event)" [ngModelOptions]="{standalone: true}" defaultLabel="-- Tìm kiếm theo năm hoặc ngày --">
                                                </p-multiSelect>
                                            </div>
                                            <div class="d-block d-sm-flex" *ngIf="!isYearSearch">
                                                <div class="mr-2 mr-md-5 mb-3 mb-md-0">
                                                    <label class="mr-4">Từ</label>
                                                    <p-calendar [(ngModel)]="input.fromDate" dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                        [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mr-4">Đến</label>
                                                    <p-calendar [(ngModel)]="input.toDate" dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                        [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Loại văn bản")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <p-dropdown [style]="{ width: '100%' }" [options]="documentTypes"
                                        [(ngModel)]="input.documentTypeId" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                </div>

                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Lĩnh vực chuyên môn")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <p-dropdown [style]="{ width: '100%' }" [options]="documentFields"
                                        [(ngModel)]="input.documentFieldId" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                <button class="btn btn-outline-primary" type="button" (click)="list()">
                                    <span class="fa fa-search"></span>
                                    Tìm kiếm
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End advanced search form -->
        </div>
        <div class="col-md-12">
            <div class="w-100 overflow-auto" [busy]="isTableLoading">
                <ng-container *ngIf="!isTableLoading">
                    <p-table [styleClass]="'w-100'" [columns]="columns" [value]="listdepartureDocuments" [rowHover]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;">STT</th>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <th *ngSwitchDefault>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                                <th align="center" style="width: 8rem;">{{l("#")}}</th>
                                <th align="center" style="width: 2rem;"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="text-center">{{ rowIndex + 1 }}</td>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <td *ngSwitchCase="'arrivedDate'" align="center">
                                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td *ngSwitchCase="'urgentLevelName'">
                                        <span [ngSwitch]="rowData['urgentLevel']">
                                            <i *ngSwitchCase="1" class="fa fa-star text-success mr-2"></i>
                                            <i *ngSwitchCase="2" class="fa fa-star text-warning mr-2"></i>
                                            <i *ngSwitchCase="3" class="fa fa-star text-danger mr-2"></i>
                                            <i *ngSwitchCase="4" class="fa fa-rocket text-warning mr-2"></i>
                                            <i *ngSwitchDefault class="fa fa-rocket text-danger mr-2"></i>
                                        </span>
                                        {{rowData[col.field]}}
                                    </td>
                                    <td *ngSwitchCase="'appliedDate'" align="center">
                                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td *ngSwitchDefault align="center">
                                        {{rowData[col.field]}}
                                    </td>
                                </ng-container>
                                <td align="center">
                                    <i class="cursor-pointer fa fa-search text-primary mr-2" matTooltip="Xem" (click)="showDetailDocument(rowData['id'])"></i>
                                    <i class="cursor-pointer fa fa-sitemap text-default position-relative" style="bottom: 1px;" matTooltip="Xem lịch sử xử lý"></i>
                                    <!-- <i class="cursor-pointer fa fa-edit iconAction" matTooltip="{{l('View')}}"
                                        (click)="viewDetail(rowData)"></i>
                                    <i class="cursor-pointer fa fa-sign-in marLR iconAction"
                                        matTooltip="{{l('Forwarded')}}" (click)="delete(rowData)"></i>
                                    <i class="cursor-pointer fa fa-sitemap iconAction" matTooltip="{{l('ViewHistory')}}"
                                        (click)="delete(rowData)"></i> -->
                                </td>
                                <td></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="6">
                                    {{l("Không tìm thấy văn bản!")}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
                <mat-paginator style="position: sticky; left: 0;"
                    (page)="getDataPage($event.pageIndex, $event.pageSize)" [length]="totalItems"
                    [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
        </div>
    </div>
</section>