<form [formGroup]="formGroupCreate">
    <div class="row">
        <div class="col-12 mb-3">
            <h5 class="title">Xác nhận chuyển tiếp</h5>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label >Nội dung xử lý</label>
                <textarea formControlName="contentCtrl" [(ngModel)]="confirmDto.content" class="w-100 form-control" pInputTextarea></textarea>
                <mat-error *ngIf="formGroupCreate.controls.contentCtrl.hasError('required') && formGroupCreate.controls.contentCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
            </div>
            <div class="form-group">
                <label >Trạng thái văn bản</label>
                <div class="row">
                    <p-radioButton name="group2" [value]="1"  formControlName="statusCtrl" label="Đang xử lý" class="col-md-6" [(ngModel)]="confirmDto.status" inputId="preopt1"></p-radioButton>
                    <p-radioButton name="group2" [value]="2"  formControlName="statusCtrl" label="Đã xử lý" class="col-md-6" [(ngModel)]="confirmDto.status" inputId="preopt1"></p-radioButton>
                </div>
            </div>
           
            <div class="text-right">
                <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
                <button class="btn btn-outline-danger" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
            </div>
        </div>
    </div>
</form>