<section class="content">
    <!-- Thẻ dialog content auto set scrollable -->
    <mat-dialog-content>
    <div class="row mb-3">
        <div class="col-md-6">
            <h5 class="text-default font-weight-bold">{{l("CHI TIẾT VĂN BẢN ĐẾN")}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Trích yếu")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.shortDescription}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Số ký hiệu")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.documentNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Nơi lưu văn bản chính")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.storedPlace}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Ngày ban hành")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.publishedDate | date:'dd/MM/yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Cơ quan ban hành")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.publishedOrganization}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Số văn bản đến")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.documentNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Số đến")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.arrivedNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Ngày đến")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.arrivedDate | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Lĩnh vực văn bản")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.documentFieldName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Loại văn bản")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.documentTypeName}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Lãnh đạo phê duyệt")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.approvedByName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Ngày duyệt")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.arrivedDate | date:'dd/MM/yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Hạn xử lý")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.deadLineDate | date:'dd/MM/yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Cấp độ khẩn")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.urgentLevelName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{l("Cấp độ mật")}}:</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.secretLevelName}}</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <label *ngIf="data.allowUpload && form.status != 4" class="position-absolute" style="bottom: 0;">{{l("File văn bản")}}</label>
                <label *ngIf="!data.allowUpload || form.status == 4">{{l("File văn bản")}}</label>
            </div>
            <div *ngIf="data.allowUpload && form.status != 4" class="col-md-6 mb-2 text-right">
                <button class="btn btn-default" (click)="$event.stopPropagation(); focusChooseFiles()">Upload
                    File</button>
                <input #chooseFile type="file" class="btn btn-uploadFile" hidden multiple
                    (change)="chooseFiles($event)" />
            </div>
        </div>
    </div>

    <div class="mb-2">
        <div class="w-100 overflow-auto">
            <ng-container>
                <p-table [styleClass]="'w-100'" [columns]="columns" [value]="form.files" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                            <th align="center" style="width: 8rem;">{{l("Thao tác")}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <td *ngSwitchDefault align="center">
                                    {{rowData[col.field]}}
                                </td>
                            </ng-container>
                            <td align="center">
                                <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"
                                  (click)="viewFile(rowData.fileUrl)" ></i>
                                <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                    (click)="download(rowData.fileUrl)"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="3">
                                {{l("Không tìm thấy file!")}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </div>
    </div>

    <div>
        <label>{{l("Nội dung bút phê")}}</label>
    </div>

    <div class="mb-2">
        <div class="w-100 overflow-auto">
            <ng-container>
                <p-table [styleClass]="'w-100'" [columns]="columnsBp" [value]="form.handlingDocuments" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <td *ngSwitchDefault align="center">
                                    {{rowData[col.field]}}
                                </td>
                                <td *ngSwitchCase="'handlingDate'" align="center">
                                    {{rowData[col.field] | date: 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="3">
                                {{l("Không tìm thấy nội dung bút phê!")}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </div>
    </div>

    <div>
        <label>{{l("Nội dung phối hợp phúc đáp")}}</label>
    </div>

    <div class="mb-2">
        <div class="w-100 overflow-auto">
            <ng-container>
                <p-table [styleClass]="'w-100'" [columns]="columnsPd" [value]="form.cordinateDocuments" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                            <th align="center" style="width: 8rem;">{{l("Thao tác")}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <td *ngSwitchDefault align="center">
                                    {{rowData[col.field]}}
                                </td>
                                <td *ngSwitchCase="'sendDate'" align="center">
                                    {{rowData[col.field] | date: 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                            <td align="center">
                                <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"
                                    ></i>
                                <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                   ></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="6">
                                {{l("Không tìm thấy nội dung phối hợp phúc đáp!")}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </div>
    </div>

    <div *ngIf="data.allowRestrict" class="text-right">
        <button class="btn btn-default" (click)="close(false)">Hủy</button>
        <button *ngIf="form.status == 1" class="btn btn-default" (click)="restrictDoc()">Thu hồi</button>
    </div>
    <div *ngIf="data.allowAction" class="text-right">
        <button class="btn btn-default" (click)="close(false)">Hủy</button>
        <button *ngIf="form.status != 3" class="btn btn-default" (click)="completeDocument(form.id)">Hoàn thành</button>
        <button *ngIf="form.status != 3" class="btn btn-default" (click)="forwardDocument(form.id)">Xử lý</button>
        
        <!-- <button *ngIf="form.status != 3" class="btn btn-default">Phúc đáp</button> -->
        <button *ngIf="form.status != 3" class="btn btn-default" (click)="addCoordinateResponse(form.id)">Phối hợp phúc
            đáp</button>
    </div>
    </mat-dialog-content>
</section>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>