<form [formGroup]="formGroup" (ngSubmit)="save()">
<div class="row">
    <div class="col-12 mb-3">
        <h5 class="title">Đổi mật khẩu</h5>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="required">Mật khẩu cũ:</label>
            <input type="password" formControlName="oldPasswordCtrl" class="w-100 form-control" pInputText  [(ngModel)]="changePassUser.currentPassword"/>
            <mat-error *ngIf="formGroup.controls.oldPasswordCtrl.hasError('required') && formGroup.controls.oldPasswordCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="required">Mật khẩu mới:</label>
            <input type="password" formControlName="newPasswordCtrl" class="w-100 form-control" pPassword  [(ngModel)]="changePassUser.newPassword"/>
            <mat-error *ngIf="formGroup.controls.newPasswordCtrl.hasError('required') && formGroup.controls.newPasswordCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="required">Nhập lại mật khẩu mới:</label>
            <input type="password" formControlName="verifyPasswordCtrl" class="w-100 form-control" pInputText [(ngModel)]="verifyPassword"/>
            <mat-error *ngIf="formGroup.controls.verifyPasswordCtrl.hasError('required') && formGroup.controls.verifyPasswordCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
        </div>
    </div>
    <div class="col-12 text-right">
        <button class="btn btn-outline-primary mr-2" type="submit"><i class="fa fa-save mr-2"></i>Xác nhận</button>
        <button class="btn btn-outline-danger" type="reset" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
    </div>
</div>
</form>