<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Xử lý văn bản</h4>
        </div>
        <!-- <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)="openCreateRoot()"><i class="fa fa-plus mr-2"></i>Thêm mới phòng ban cấp cao</button>
        </div> -->
    </div>
    <p-tabView class="row" [activeIndex]="selectTabIndex" (onChange)="onChangeTab($event)">
        <p-tabPanel header="Cán bộ">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="w-100" [busy]="isTableLoading">
                        <p-tree selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnSelect($event)"  [styleClass]="'w-100'" [value]="listTreeNodeDepartments"></p-tree>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="w-100 overflow-auto" [busy]="isTableLoading">
                        <!-- <form [formGroup]="formGroup"> -->
                            <p-table  [styleClass]="'w-100'" [columns]="cols" [value]="arrrivedDocumentUsers" [rowHover]="true" >
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: '5%';">STT</th>
                                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <th *ngSwitchCase="'act'" align="center" style="width: 5rem;">
                                                #
                                            </th>
                                            <th *ngSwitchDefault [ngStyle]="{'width': col.width}">
                                                {{col.header}}
                                            </th>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template  pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                    <tr>
                                        <ng-container>
                                            <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                                        </ng-container>
                                        <ng-container>
                                            <td class="text-center"> {{rowData["userFullName"]}}</td>
                                        </ng-container>
                                        <ng-container>
                                            <td class="text-center">
                                                <p-dropdown  [(ngModel)]="rowData['allowRoleId']" [options]="allowRoleIds" [inputStyle]="{'width':'70%'}"  [style]="{ width: '80%' }" appendTo="body">
                                            </p-dropdown>
                                            </td>
                                        </ng-container>
                                        <ng-container>
                                            <td class="text-center">
                                                <p-dropdown  [(ngModel)]="rowData['processingReasonId']" [options]="processingReasonIds" [inputStyle]="{'width':'70%'}"  [style]="{ width: '100%', overflow: 'visible' }" appendTo="body">
                                            </p-dropdown>
                                            </td>
                                        </ng-container>
                                        <td class=" text-center">
                                            <p-checkbox  value="" binary="true" [(ngModel)]="rowData['nonExpired']" (ngModelChange)="changeNonExpired($event,rowIndex)"></p-checkbox>
                                        </td>
                                        <ng-container>
                                        <td class=" text-center">
                                            <p-calendar [dis] [(ngModel)]="rowData['expiredDate']" [disabled]="rowData['nonExpired']" [dateFormat]="dd/MM/yyyy" [style]="{'width':'80%'}"  [inputStyle]="{'width':'70%'}" 
                                                                icon="fa fa-calendar" [showIcon]="true" appendTo="body" [style]="{ 'overflow': 'visible', 'z-index': '999'}">
                                            </p-calendar>
                                            <!-- <div>
                                            <mat-error *ngIf="checkExpireDate(rowData)">{{ 'Không được để trống' | localize }}</mat-error>
                                            </div> -->
                                            <div class="valid-height">
                                             <span style="color: #f44336; font-size: 0.75rem;" *ngIf="checkExpireDate(rowData)">{{ 'Không được để trống' | localize }}</span> 
                                             </div>
                                        </td>
                                        </ng-container>  
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="6">
                                            Không tìm thấy danh mục nào!
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        <!-- </form> -->
                    </div>
                    <div class="text-right" style="margin-top:10px">
                        <button class="btn btn-outline-primary mr-2" *ngIf="!(processingDocumentGroupId>0)" (click)="onCreateUserGroup()"><i class="fa fa-save mr-2"></i>Tạo nhóm cán bộ</button>
                        <button class="btn btn-outline-primary mr-2" *ngIf="processingDocumentGroupId>0" (click)="updateCreateUserGroup()"><i class="fa fa-save mr-2"></i>Lưu nhóm cán bộ</button>
                        <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
                    </div>
                </div>
            
            </div>
        </p-tabPanel>
        <p-tabPanel header="Nhóm cán bộ"> 
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="w-100 overflow-auto" [busy]="isTableLoading">
                        <p-table [styleClass]="'w-100'" [columns]="colProcessingDocumentGroup" [value]="processingDocumentGroups" [rowHover]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <th *ngSwitchDefault [ngStyle]="{'width': col.width}">
                                            {{col.header}}
                                        </th>
                                    </ng-container>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                <tr>
                                    <ng-container>
                                        <td class="text-center"><a [routerLink]="" (click)="onSelectProcessingGroup(rowData)">{{rowData["name"]}}</a></td>
                                    </ng-container>
                                    <ng-container>
                                        <td class="text-center"> {{formatDateTime(rowData["creationTime"])}}</td>
                                    </ng-container>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td [attr.colspan]="2">
                                        Không tìm thấy danh mục nào!
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="w-100 overflow-auto" [busy]="isTableLoading">
                        <p-table [styleClass]="'w-100'" [columns]="colProcessingDocumentGroupDetail" [value]="processingDocumentGroupDetails" [rowHover]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: '5%';">STT</th>
                                   
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <th *ngSwitchDefault [ngStyle]="{'width': col.width}">
                                            {{col.header}}
                                        </th>
                                    </ng-container>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                <tr>
                                    <ng-container>
                                        <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                                    </ng-container>
                                    <ng-container>
                                        <td class="text-center"> {{rowData["departmentName"]}}</td>
                                    </ng-container>
                                    <ng-container>
                                        <td class="text-center"> {{rowData["roleName"]}}</td>
                                    </ng-container>
                                    <ng-container>
                                        <td class="text-center"> {{rowData["username"]}}</td>
                                    </ng-container>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td [attr.colspan]="4">
                                        Không tìm thấy danh mục nào!
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="text-right" style="margin-top:10px">
                        <button class="btn btn-outline-primary mr-2" (click)="applyProcessingGroup()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-toast position="bottom-right"></p-toast>
</section>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>
