<!-- <iframe width="780" height="800" src="https://image.shutterstock.com/z/stock-photo-mountains-during-sunset-beautiful-natural-landscape-in-the-summer-time-407021107.jpg"></iframe> -->
<ngx-doc-viewer [url]="url" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
