<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-12 mb-3">
            <h5 class="title">Cập nhật danh mục</h5>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="required">Tên danh mục:</label>
                <input formControlName="nameCtrl" [(ngModel)]="categogy.name" class="w-100 form-control" pInputText />
                <mat-error
                    *ngIf="formGroup.controls.nameCtrl.hasError('required') && formGroup.controls.nameCtrl.touched">
                    {{ 'Không được để trống' | localize }}</mat-error>
            </div>
            <div class="form-group">
                <label class="required">Loại danh mục:</label> 
                <div class="w-100">               
                    <p-dropdown formControlName="typeCtrl" filter="true" [(ngModel)]="categogy.type" [options]="categoryTypes" [styleClass]="'w-100'"></p-dropdown>                
                </div>
            </div>
            <div class="form-group">
                <label>Mô tả:</label>
                <input formControlName="descriptionCtrl" [(ngModel)]="categogy.description" class="w-100 form-control"
                    pInputText />
            </div>
            <div class="text-right">
                <button class="btn btn-outline-primary mr-2" (click)="save()"><i
                        class="fa fa-save mr-2"></i>Lưu</button>
                <button class="btn btn-outline-danger" (click)="close(false)"><i class="fa fa-ban mr-2"></i>Hủy</button>
            </div>
        </div>
    </div>
</form>