<!-- <section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4 class="title">{{l("ManageDocumentArrived")}}</h4>
        </div>
    </div>
    <div class="marBot">
        <div class="row">
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("All")}}</p>
                    <p class="cursor-pointer" (click) = "search('isTotal')">{{totalDocument}}</p>
                </div>
            </div>
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("NotHandle")}}</p>
                    <p class="cursor-pointer" (click) = "search('isUnHandle')">{{totalUnHandle}}</p>
                </div>
            </div>
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("InProgress")}}</p>
                    <p class="cursor-pointer" (click) = "search('isProcessing')">{{totalProcessing}}</p>
                </div>
            </div>
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("Processed")}}</p>
                    <p class="cursor-pointer" (click) = "search('isHandled')">{{totalHandlded}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="row mb-6">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a [routerLink]="" (click)="toggleAndvancedSearch()">
                        {{isAdvancedSearch ? 'Ẩn' : 'Hiển thị'}} lọc nâng cao
                    </a>
                </div>
            </div>
            <div [hidden]="!isAdvancedSearch">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("Abstract")}}</label>
                        <div class="col-sm-4">
                            <input [(ngModel)]="input.shortDescription" [ngModelOptions]="{standalone: true}"
                                type="text" class="form-control" placeholder="Nhập trích yếu">
                        </div>

                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("NumberMarks")}}</label>
                        <div class="col-sm-4">
                            <input [(ngModel)]="input.documentNumber" [ngModelOptions]="{standalone: true}" type="text"
                                class="form-control" placeholder="Nhập số ký hiệu">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("RoleProcecss")}}</label>
                        <div class="col-sm-4">
                            <p-dropdown [style]="{ width: '100%' }" [options]="rolesHandling"
                                [(ngModel)]="input.roleHandling" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>

                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("LevelUrgent")}}</label>
                        <div class="col-sm-4">
                            <p-dropdown [style]="{ width: '100%' }" [options]="urgentLevel"
                                [(ngModel)]="input.urgentLevel" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("DeadLine")}}</label>
                        <div class="col-sm-10">
                            <div class="advanceSearchBorder">
                                <div class="row">
                                    <label class="col-sm-1 col-form-label advanceSearchLabel2">Hạn</label>
                                    <div class="col-sm-2">
                                        <p-dropdown [style]="{ width: '100%' }" [options]="items"
                                            [(ngModel)]="input.isOutOfDate" [ngModelOptions]="{standalone: true}">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-9 padLef">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label advanceSearchLabel3">Từ</label>
                                            <div class="col-sm-5">
                                                <p-calendar [disabled]="isDisableChooseFromDate" 
                                                    (ngModelChange)="checkExpiredDateFromIsChoose()" 
                                                    [(ngModel)]="input.expiredDateFrom" dateFormat="dd/mm/yy"
                                                    icon="fa fa-calendar" [showIcon]="true"
                                                    [ngModelOptions]="{standalone: true}"></p-calendar>
                                            </div>

                                            <label class="col-sm-1 col-form-label advanceSearchLabel2">Đến</label>
                                            <div class="col-sm-4">
                                                <p-calendar [disabled]="isDisableChooseToDate" 
                                                    (ngModelChange)="checkExpiredDateToIsChoose()" 
                                                    [(ngModel)]="input.expiredDateTo" dateFormat="dd/mm/yy"
                                                    icon="fa fa-calendar" [showIcon]="true"
                                                    [ngModelOptions]="{standalone: true}"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("TimeToArrived")}}</label>
                        <div class="col-sm-10">
                            <div class="advanceSearchBorder">
                                <div class="row">
                                    <label class="col-sm-1 col-form-label advanceSearchLabel2">Năm</label>
                                    <div class="col-sm-2">
                                        <p-multiSelect [disabled]="isDisableChooseYear" [options]="years"
                                            [style]="{ width: '123%' }" [(ngModel)]="input.years"
                                            [ngModelOptions]="{standalone: true}" [defaultLabel]="'-Chọn năm-'"
                                            (ngModelChange)="checkYearIsChoose()">
                                        </p-multiSelect>
                                    </div>
                                    <div class="col-sm-9 padLef">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label advanceSearchLabel3">Từ</label>
                                            <div class="col-sm-5">
                                                <p-calendar [disabled]="isDisableChooseDate" [(ngModel)]="input.startDate"
                                                    dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                    (ngModelChange)="checkDateIsChoose()"
                                                    [ngModelOptions]="{standalone: true}"></p-calendar>
                                            </div>

                                            <label class="col-sm-1 col-form-label advanceSearchLabel2">Đến</label>
                                            <div class="col-sm-4">
                                                <p-calendar [disabled]="isDisableChooseDate" [(ngModel)]="input.endDate"
                                                    dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                    (ngModelChange)="checkDateIsChoose()"
                                                    [ngModelOptions]="{standalone: true}" ></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("DocumentTypes")}}</label>
                        <div class="col-sm-4">
                            <p-dropdown [style]="{ width: '100%' }" [options]="documentTypes"
                                [(ngModel)]="input.documentType" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>

                        <label class="col-sm-2 col-form-label advanceSearchLabel">{{l("AreasOfExpertise")}}</label>
                        <div class="col-sm-4">
                            <p-dropdown [style]="{ width: '100%' }" [options]="documentFields"
                                [(ngModel)]="input.documentField" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button class="btn btn-primary" type="button" (click)="getDataPage(0)">
                            <span class="fa fa-search"></span>
                            Tìm kiếm
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="w-100 overflow-auto" [busy]="isTableLoading">
                <ng-container *ngIf="!isTableLoading">
                    <p-table [styleClass]="'w-100'" [columns]="columns" [value]="processDocumentView" [rowHover]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;">STT</th>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <th *ngSwitchDefault>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                                <th align="center" style="width: 8rem;">{{l("Action")}}</th>
                                <th align="center" style="width: 2rem;"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="text-center">{{ rowIndex + 1 }}</td>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <td *ngSwitchCase="'arrivedDate'" align="center">
                                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td *ngSwitchCase="'deadLineDate'" align="center">
                                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td *ngSwitchCase="'urgentLevelName'" align="center">
                                        <i *ngIf="rowData.urgentLevel == '1'"
                                            class="cursor-pointer fa fa-star iconNormal"
                                            matTooltip="{{l('Normal')}}"></i>
                                        <i *ngIf="rowData.urgentLevel == '2'"
                                            class="cursor-pointer fa fa-star iconUrgent"
                                            matTooltip="{{l('Urgent')}}"></i>
                                        <i *ngIf="rowData.urgentLevel == '3'"
                                            class="cursor-pointer fa fa-star iconVeryUrgent"
                                            matTooltip="{{l('VeryUrgent')}}"></i>
                                        <i *ngIf="rowData.urgentLevel == '4'"
                                            class="cursor-pointer fa fa-rocket iconExpressUrgent"
                                            matTooltip="{{l('ExpressUrgent')}}"></i>
                                        <i *ngIf="rowData.urgentLevel == '5'"
                                            class="cursor-pointer fa fa-rocket iconTimedExpressUrgent"
                                            matTooltip="{{l('TimedExpressUrgent')}}"></i>
                                    </td>
                                    <td *ngSwitchDefault align="center">
                                        {{rowData[col.field]}}
                                    </td>
                                </ng-container>
                                <td align="center">
                                    <i class="cursor-pointer fa fa-edit iconAction" matTooltip="{{l('View')}}"
                                        (click)="viewDetail(rowData)"></i>
                                    <i class="cursor-pointer fa fa-sign-in marLR iconAction"
                                        matTooltip="{{l('Forwarded')}}" (click)="forwardDocument(rowData.id)"></i>
                                    <i class="cursor-pointer fa fa-sitemap iconAction" matTooltip="{{l('ViewHistory')}}"
                                        (click)="delete(rowData)"></i>
                                </td>
                                <td align="center">
                                    <input *ngIf="rowData.allowRoleId != 3 && rowData.status != 4" type="checkbox" />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="11">
                                    {{l("NotFoundDocument")}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
                <mat-paginator style="position: sticky; left: 0;"
                    (page)="getDataPage($event.pageIndex + 1, $event.pageSize)" [length]="totalItems"
                    [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
        </div>
    </div>
</section> -->
<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>{{l("Quản lý văn bản đến")}}</h4>
        </div>
    </div>
    <!-- <div class="marBot">
        <div class="row">
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("All")}}</p>
                    <p class="cursor-pointer" (click) = "search('isTotal')">{{totalDocument}}</p>
                </div>
            </div>
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("NotHandle")}}</p>
                    <p class="cursor-pointer" (click) = "search('isUnHandle')">{{totalUnHandle}}</p>
                </div>
            </div>
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("InProgress")}}</p>
                    <p class="cursor-pointer" (click) = "search('isProcessing')">{{totalProcessing}}</p>
                </div>
            </div>
            <div class="col-md-3 square">
                <div class="border">
                    <p class="infoDocument">{{l("Processed")}}</p>
                    <p class="cursor-pointer" (click) = "search('isHandled')">{{totalHandlded}}</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-3">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-4">
                    <div class="card mat-elevation-z1 cursor-pointer" (click)="search('isTotal')">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">{{l("Tất cả")}}</h6>
                            <h5 class="mb-0">{{ totalDocument }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-4">
                    <div class="card mat-elevation-z1 cursor-pointer" (click)="search('isUnHandle')">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">{{l("Chưa xử lý")}}</h6>
                            <h5 class="mb-0">{{ totalUnHandle }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-4">
                    <div class="card mat-elevation-z1 cursor-pointer" (click)="search('isProcessing')">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">{{l("Đang xử lý")}}</h6>
                            <h5 class="mb-0">{{ totalProcessing }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-4">
                    <div class="card mat-elevation-z1 cursor-pointer" (click)="search('isHandled')">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">{{l("Đã xử lý")}}</h6>
                            <h5 class="mb-0">{{ totalHandlded }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" [ngSwitch]="this.input.status">
            <h5 *ngSwitchCase="1">Danh sách văn bản đến chưa xử lý</h5>
            <h5 *ngSwitchCase="2">Danh sách văn bản đến đang xử lý</h5>
            <h5 *ngSwitchCase="3">Danh sách văn bản đến đã xử lý</h5>
            <h5 *ngSwitchDefault></h5>
            <!-- Begin advanced search form -->
            <!-- <div class="row mb-6">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a [routerLink]="" (click)="toggleAndvancedSearch()">
                        {{isAdvancedSearch ? 'Ẩn' : 'Hiển thị'}} lọc nâng cao
                    </a>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mb-2">
                        <a class="font-xs" (click)="openFilter = !openFilter" href="javascripts:;">{{ openFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' | localize }}</a>
                    </div> 
                </div>
            </div>
            <div class="row" *ngIf="openFilter">
                <form class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Trích yếu")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <input [(ngModel)]="input.shortDescription" pInputText [ngModelOptions]="{standalone: true}"
                                        type="text" class="form-control" placeholder="Nhập trích yếu">
                                </div>

                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Số ký hiệu")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <input [(ngModel)]="input.documentNumber" pInputText [ngModelOptions]="{standalone: true}" type="text"
                                        class="form-control" placeholder="Nhập số ký hiệu">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Vai trò xử lý")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <p-dropdown [style]="{ width: '100%' }" placeholder="-Tất cả-" [options]="rolesHandling"
                                        [(ngModel)]="input.roleHandling" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                </div>

                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Cấp độ khẩn")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <p-dropdown [style]="{ width: '100%' }" placeholder="-Tất cả-" [options]="urgentLevel"
                                        [(ngModel)]="input.urgentLevel" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Hạn xử lý")}}</label></div>
                                <div class="col-md-10">
                                    <div class="card mb-0 box-advanced-search">
                                        <div class="card-body d-block d-md-flex justify-content-between">
                                            <div class="mb-3 mb-md-0">
                                                <label class="mr-4">Hạn</label>
                                                <p-dropdown [options]="items"
                                                    [(ngModel)]="input.isOutOfDate" [ngModelOptions]="{standalone: true}">
                                                </p-dropdown>
                                            </div>
                                            <div class="d-block d-sm-flex">
                                                <div class="mr-2 mr-md-5 mb-3 mb-md-0">
                                                    <label class="mr-4">Từ</label>
                                                    <p-calendar [(ngModel)]="input.expiredDateFrom" dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                        [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mr-4">Đến</label>
                                                    <p-calendar [(ngModel)]="input.expiredDateTo" dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                        [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2  text-md-center"><label>{{l("Thời gian văn bản đến")}}</label></div>
                                <div class="col-md-10">
                                    <div class="card mb-0 box-advanced-search">
                                        <div class="card-body d-block d-md-flex justify-content-between">
                                            <div class="mb-3 mb-md-0">
                                                <label class="mr-4">Năm</label>
                                                <p-multiSelect [disabled]="isDisableChooseYear" [options]="years"
                                                    [style]="{ 'min-width': '12.5em' }" [(ngModel)]="input.years"
                                                    [ngModelOptions]="{standalone: true}" [defaultLabel]="'-Chọn năm-'"
                                                    (ngModelChange)="checkYearIsChoose()">
                                                </p-multiSelect>
                                            </div>
                                            <div class="d-block d-sm-flex">
                                                <div class="mr-2 mr-md-5 mb-3 mb-md-0">
                                                    <label class="mr-4">Từ</label>
                                                    <p-calendar [disabled]="isDisableChooseDate" [(ngModel)]="input.startDate"
                                                            dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                            (ngModelChange)="checkDateIsChoose()"
                                                            [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mr-4">Đến</label>
                                                    <p-calendar [disabled]="isDisableChooseDate" [(ngModel)]="input.endDate"
                                                            dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true"
                                                            (ngModelChange)="checkDateIsChoose()"
                                                            [ngModelOptions]="{standalone: true}" ></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Loại văn bản")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <p-dropdown [style]="{ width: '100%' }" [options]="documentTypes"
                                        [(ngModel)]="input.documentType" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                </div>

                                <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Lĩnh vực chuyên môn")}}</label></div>
                                <div class="col-md-4 form-group">
                                    <p-dropdown [style]="{ width: '100%' }" [options]="documentFields"
                                        [(ngModel)]="input.documentField" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                <button class="btn btn-outline-primary mr-2" type="button" (click)="getDataPage(0)">
                                    <span class="fa fa-search"></span>
                                    Tìm kiếm
                                </button>
                                <button class="btn btn-outline-danger" type="button" (click)="refreshFilter()">
                                    <span class="fa fa-refresh"></span>
                                    Làm lại
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End advanced search form -->
        </div>
        <div class="col-md-12 mb-3">
            <div class="w-100 overflow-auto" [busy]="isTableLoading">
                <ng-container *ngIf="!isTableLoading">
                    <p-table [styleClass]="'w-100'" [columns]="columns" [value]="processDocumentView" [rowHover]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;">STT</th>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <th *ngSwitchDefault>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                                <th *ngIf="input.status == null">Trạng thái</th>
                                <th align="center" style="width: 8rem;">{{l("#")}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <td *ngSwitchCase="'arrivedDate'" align="center">
                                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td *ngSwitchCase="'deadLineDate'" align="center">
                                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td *ngSwitchCase="'urgentLevelName'">
                                            <span [ngSwitch]="rowData['urgentLevel']">
                                                <i *ngSwitchCase="1" class="fa fa-star text-success mr-2"></i>
                                                <i *ngSwitchCase="2" class="fa fa-star text-warning mr-2"></i>
                                                <i *ngSwitchCase="3" class="fa fa-star text-danger mr-2"></i>
                                                <i *ngSwitchCase="4" class="fa fa-rocket text-warning mr-2"></i>
                                                <i *ngSwitchDefault class="fa fa-rocket text-danger mr-2"></i>
                                            </span>
                                            {{rowData[col.field]}}
                                    </td>
                                    <td *ngSwitchDefault>
                                        {{rowData[col.field]}}
                                    </td>
                                </ng-container>
                                <td *ngIf="input.status == null" [ngSwitch]="rowData['status']">
                                    <span *ngSwitchCase="1">Chưa xử lý</span>
                                    <span *ngSwitchCase="2">Đang xử lý</span>
                                    <span *ngSwitchCase="3">Đã xử lý</span>
                                    <span *ngSwitchDefault></span>
                                </td>
                                <td align="center">
                                    <i class="cursor-pointer fa fa-edit text-primary mr-2" matTooltip="{{l('Xem')}}"
                                        (click)="viewDetail(rowData)"></i>
                                    <i class="cursor-pointer fa fa-sign-in text-success mr-2"
                                        matTooltip="{{l('Chuyển tiếp')}}" (click)="forwardDocument(rowData.id)"></i>
                                    <i class="cursor-pointer fa fa-sitemap position-relative" style="bottom: 1px;" (click)="viewDocumentHistory(rowData.id)" matTooltip="{{l('Xem lịch sử xử lý')}}"
                                        ></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="input.status == null ? 10 : 9">
                                    {{l("NotFoundDocument")}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
                <mat-paginator style="position: sticky; left: 0;" [pageSize]="10"
                    (page)="getDataPage($event.pageIndex, $event.pageSize)" [length]="totalItems"
                    [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
        </div>
    </div>
</section>