<form [formGroup]="formGroupCreate">
    <div class="row">
        <div class="col-12 mb-3">
            <h5 class="title">Tạo mới nhóm cán bộ</h5>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="required">Tên nhóm</label>
                <input formControlName="nameCtrl" [(ngModel)]="processingDocumentGroup.name" class="w-100 form-control" pInputText/>
                <mat-error *ngIf="formGroupCreate.controls.nameCtrl.hasError('required') && formGroupCreate.controls.nameCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
            </div>
           
            <div class="text-right">
                <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
                <button class="btn btn-outline-danger" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
            </div>
        </div>
    </div>
    </form>