<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h5 class="title">Cập nhật Sổ văn bản đến</h5>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="required">Tên sổ:</label>
                <input formControlName="nameCtrl" [(ngModel)]="model.name" class="w-100 form-control" pInputText />
                <mat-error
                    *ngIf="formGroup.controls.nameCtrl.hasError('required') && formGroup.controls.nameCtrl.touched">
                    {{ 'Không được để trống' | localize }}</mat-error>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Mã sổ:</label>
                <input formControlName="codeCtrl" [(ngModel)]="model.code" class="w-100 form-control" pInputText />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Năm:</label>
                <div>                
                    <p-dropdown formControlName="yearCtrl" [(ngModel)]="model.year" [options]="years" [styleClass]="'w-100'"></p-dropdown>           
                </div>     
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Độ ưu tiên:</label>                
                <input formControlName="priorityCtrl" [(ngModel)]="model.priority" class="w-100 form-control" pInputText type="number" />
            </div>
        </div>
        <div class="col-md-6" *ngIf="isHavePermission()">
            <div class="form-group">
                <label>Trạng thái:</label>
                <div>                
                    <p-dropdown formControlName="statusCtrl" [(ngModel)]="model.status" [options]="statuses" [styleClass]="'w-100'"></p-dropdown>           
                </div>     
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
                <button class="btn btn-outline-danger" (click)="close(false)"><i class="fa fa-ban mr-2"></i>Hủy</button>
            </div>
        </div>
    </div>
</form>