<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4 class="font-weight-bold">{{l("Nội dung phối hợp phúc đáp")}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-2">
            <label>Thêm nội dung</label>
            <input pInputText placeholder="Nhập nội dung phối hợp phúc đáp" class="form-control" [(ngModel)]="form.content"/>
        </div>
        <div class="col-md-12">
            <label>Trạng thái văn bản</label>
        </div>
        <div class="col-md-6 mb-2">
            <div>
                <p-radioButton name="process" [value]="3" label="Đang xử lý"></p-radioButton>
                <p-radioButton class="ml-5" name="process" [value]="4" label="Đã xử lý"></p-radioButton>
            </div>
        </div>
        <div class="col-md-6 mb-2 text-right">
            <button class="btn btn-default" (click)="$event.stopPropagation(); focusChooseFiles()">Upload File</button>
            <input #chooseFile accept=".doc,.xlsx,.xls,.pdf,.docx" type="file" class="btn btn-uploadFile" hidden multiple (change)="chooseFiles($event)"/>
        </div>
    </div>
    <!-- <div class="row">
        <label class="marT">Trạng thái văn bản</label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="3" name="process"
                        (change)="onChangeProcess($event.target.value)">Đang xử lý
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" checked="true" value="4" name="process"
                        (change)="onChangeProcess($event.target.value)">Đã xử lý
                </label>
            </div>
        </div>
        <div class="col-md-6 fright">
            <div class="form-check-inline">
                <button class="btn btn-default" (click)="$event.stopPropagation(); focusChooseFiles()">Upload File</button>
                <input #chooseFile type="file" class="btn btn-uploadFile" hidden multiple (change)="chooseFiles($event)"/>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="w-100 overflow-auto" [busy]="isLoading">
                <ng-container>
                    <p-table [styleClass]="'w-100'" [columns]="columns" [value]="relatedFiles" [rowHover]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;">STT</th>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <th *ngSwitchDefault>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                                <th align="center" style="width: 8rem;">{{l("Thao tác")}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="text-center">{{ rowIndex + 1 }}</td>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <td *ngSwitchDefault align="center">
                                        {{rowData[col.field]}}
                                    </td>
                                </ng-container>
                                <td align="center">
                                    <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"></i>
                                    <i class="cursor-pointer fa fa-download" (click)="download(rowData.fileUrl)" matTooltip="{{l('Download')}}"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="3">
                                    {{l("Không tìm thấy file!")}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-outline-danger mr-2" (click)="close(false)"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button class="btn btn-outline-primary" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
    </div>
</section>