<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Danh mục sổ văn bản đến</h4>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)='create()' ><i class="fa fa-plus mr-2"></i>Thêm mới</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-2">
                <input class="form-control" pInputText placeholder="Nhập từ khóa..." [(ngModel)]="input.keyword">
                <!-- <button pButton icon="fa fa-search" (click)="getDataPage(1)" label="Tìm kiếm"></button> -->
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="getDataPage(0)"><i class="fa fa-search mr-2"></i>Tìm kiếm</button>
                </div>
            </div>
            <div class="mb-2">
                <a class="font-xs" (click)="openFilter = !openFilter" href="javascripts:;">{{ openFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' | localize }}</a>
            </div>         
         </div>
         <div class="col-md-12 mb-2" *ngIf="openFilter">
             <div class="row">
                <div class="col-md-6">
                    <p-dropdown [(ngModel)]="input.year" filter="true" (onChange)="getDataPage(0)" [options]="years" [styleClass]="'w-100'"></p-dropdown>
                </div>
                <div class="col-md-6">
                    <p-dropdown filter="true" [(ngModel)]="input.status" (onChange)="getDataPage(0)" [options]="statuses" [styleClass]="'w-100'"></p-dropdown>
                </div>
             </div>
         </div>
         <div class="col-md-12">
            <div class="w-100 overflow-auto" [busy]="isTableLoading">
                <p-table [styleClass]="'w-100'" [columns]="cols" [value]="arrivedFolders" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchCase="'act'" align="center" style="width: 10rem;">
                                    Thao tác
                                </th>
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">                                
                                <td *ngSwitchCase="'act'" align="center">                                   
                                    <i class="cursor-pointer fa fa-edit text-primary mr-2" matTooltip="Sửa" (click)="edit(rowData)"></i>
                                    <i class="cursor-pointer fa fa-trash text-danger position-relative" style="bottom: 1px;" matTooltip="Xóa" (click)="delete(rowData)"></i>
                                </td>
                                <td *ngSwitchDefault align="center">
                                    {{col.header == "Năm" && rowData[col.field] == 0 ? null : rowData[col.field]}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="6">
                                Không tìm thấy sổ văn bản đến nào nào!
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <mat-paginator style="position: sticky; left: 0;" (page)="getDataPage($event.pageIndex + 1, $event.pageSize)" [length]="totalItems" [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
         </div>
    </div>
</section>