<section class="content">
    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="font-weight-bold">Xác nhận hoàn tất xử lý văn bản?</h4>
        </div>
    </div>
    <div class="row" hidden>
      <div class="col-md-12 mb-2">
        <h5 class="font-weight-bold">Trạng thái xử lý</h5> 
      </div>
      <div class="col-md-12 mb-3">
        <p-radioButton name="process" [value]="3" label="Đang xử lý" [(ngModel)]="this.form.status"></p-radioButton>
        <p-radioButton class="ml-5" name="process" [value]="4" label="Đã xử lý" [(ngModel)]="this.form.status"></p-radioButton>
      </div>
        <!-- <div class="col-md-12">
          <label>Trạng thái xử lý</label> 
            <label class="form-check-label">
              <input type="radio" class="form-check-input" value="3" name="process" (change)="onChangeProcess($event.target.value)">Đang xử lý
            </label>
          </div>
          <div class="col-md-12">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" checked="true"  value="4" name="process" (change)="onChangeProcess($event.target.value)">Đã xử lý
            </label>
          </div> -->
    </div>
    <div class="text-right">
        <button class="btn btn-outline-danger mr-2" (click)="close(false)"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button class="btn btn-outline-primary" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
    </div>
</section>