<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Sổ chuyển giao văn bản đến</h4>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" *ngIf="checkPermissionCreate" (click)='createArrivedDocument()'><i class="fa fa-plus mr-2"></i>Thêm mới</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-5">
                    <div class="card cursor-pointer mat-elevation-z1" [busy]="isStasticLoading" (click)="input.status = 0; this.refresh();">
                        <div class="card-body text-center">
                            <h6 class="font-weight-bold text-default">Văn bản lưu nháp</h6>
                            <h5 class="mb-0">{{ numberOfDraftDocuments }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-5">
                    <div class="card cursor-pointer mat-elevation-z1">
                        <div class="card-body text-center" [busy]="isStasticLoading" (click)="input.status = 1; this.refresh();">
                            <h6 class="font-weight-bold text-default">Văn bản đã chuyển</h6>
                            <h5 class="mb-0">{{ numberOfForwardedDocuments }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="w-100 px-md-4 px-lg-2">
                <div class="px-lg-5">
                    <div class="card cursor-pointer mat-elevation-z1">
                        <div class="card-body text-center" [busy]="isStasticLoading" (click)="input.status = 4; this.refresh();">
                            <h6 class="font-weight-bold text-default">Văn bản đã thu hồi</h6>
                            <h5 class="mb-0">{{ numberOfRevokedDocuments }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" [ngSwitch]="input.status">
            <h5 *ngSwitchDefault>Danh sách văn bản lưu nháp</h5>
            <h5 *ngSwitchCase="1">Danh sách văn bản đã chuyển</h5>
            <h5 *ngSwitchCase="4">Danh sách văn bản đã thu hồi</h5>
            <!-- Begin witdh 100% search box -->
            <!-- <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nhập từ khóa..."
                            [(ngModel)]="input.keyword" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <span class="fa fa-search"></span>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <input class="form-control" pInputText placeholder="Nhập từ khóa..." [(ngModel)]="input.keyword">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" (click)="getDataPage(0)"><i class="fa fa-search mr-2"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End witdh 100% search box -->
            <!-- Begin advanced search form -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mb-2">
                        <a class="font-xs" (click)="openFilter = !openFilter" href="javascripts:;">{{ openFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' | localize }}</a>
                    </div> 
                </div>
            </div>
            <div *ngIf="openFilter">
                <!-- Begin advanced search form -->
                <!-- <div class="row mb-6">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a [routerLink]="" (click)="toggleAndvancedSearch()">
                            {{isAdvancedSearch ? 'Ẩn' : 'Hiển thị'}} lọc nâng cao
                        </a>
                    </div>
                </div> -->
                <div class="row">
                    <form class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{"Trích yếu" | localize}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <input pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="input.shortDescription"
                                            type="text" class="form-control" placeholder="Nhập trích yếu">
                                    </div>
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{"Số kí hiệu" | localize}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <input pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="input.documentNumber"
                                            type="text" class="form-control" placeholder="Nhập số kí hiệu">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Sổ văn bản đến")}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <p-multiSelect defaultLabel="-- Sổ VB đến --" [options]="arrivedFolders" name="arrivedFolders" [(ngModel)]="input.arrivedFolders" [style]="{ width: '100%' }"></p-multiSelect>
                                    </div>
    
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{l("Cấp độ khẩn")}}</label></div>
                                    <div class="col-md-4 form-group">
                                        <p-dropdown [style]="{ width: '100%' }" name="urgentLevel" [options]="urgentLevels" [(ngModel)]="input.urgentLevel"></p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2 text-md-center"><label class="mt-md-1">{{input.status == 0 ? "Thời gian lưu văn bản" : "Thời gian chuyển văn bản" | localize}}</label></div>
                                    <div class="col-md-10">
                                        <div class="card mb-0 box-advanced-search" [ngSwitch]="input.status">
                                            <div class="card-body d-block d-md-flex justify-content-between" *ngSwitchCase="0">
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mr-4">Năm</label>
                                                    <p-multiSelect [style]="{'min-width' : '200px'}" [options]="years" defaultLabel="-- Tìm kiếm theo năm hoặc ngày --" (onChange)="changeCreateYears($event)" name="createYears" [(ngModel)]="input.createYears">
                                                    </p-multiSelect>
                                                </div>
                                                <div class="d-block d-sm-flex"  *ngIf="!isCreateYearSearch">
                                                    <div class="mr-2 mr-md-5 mb-3 mb-md-0">
                                                        <label class="mr-4">Từ</label>
                                                        <p-calendar dateFormat="dd/mm/yy" name="createFromDate" [(ngModel)]="input.createFromDate" icon="fa fa-calendar" [showIcon]="true"></p-calendar>
                                                    </div>
                                                    <div class="mb-3 mb-md-0">
                                                        <label class="mr-4">Đến</label>
                                                        <p-calendar dateFormat="dd/mm/yy" name="createToDate" [(ngModel)]="input.createToDate" icon="fa fa-calendar" [showIcon]="true"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body d-block d-md-flex justify-content-between" *ngSwitchDefault>
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mr-4">Năm</label>
                                                    <p-multiSelect [style]="{'min-width' : '200px'}" [options]="years" defaultLabel="-- Tìm kiếm theo năm hoặc ngày --" (onChange)="changeSendYears($event)" name="sendYears" [(ngModel)]="input.sendYears">
                                                    </p-multiSelect>
                                                </div>
                                                <div class="d-block d-sm-flex"  *ngIf="!isSendYearSearch">
                                                    <div class="mr-2 mr-md-5 mb-3 mb-md-0">
                                                        <label class="mr-4">Từ</label>
                                                        <p-calendar dateFormat="dd/mm/yy" name="sendFromDate" [(ngModel)]="input.sendFromDate" icon="fa fa-calendar" [showIcon]="true"></p-calendar>
                                                    </div>
                                                    <div class="mb-3 mb-md-0">
                                                        <label class="mr-4">Đến</label>
                                                        <p-calendar dateFormat="dd/mm/yy" name="sendToDate" [(ngModel)]="input.sendToDate" icon="fa fa-calendar" [showIcon]="true"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-primary mr-2" type="button" (click)="getDataPage(0)">
                                        <span class="fa fa-search"></span>
                                        Tìm kiếm
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" (click)="refreshFilter()">
                                        <span class="fa fa-refresh mr-1"></span>
                                        Làm lại
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
    </div>
            <!-- End advanced search form -->
        </div>
        <div class="col-md-12 text-right mb-2" *ngIf="selectedArrivedDocuments.length > 0 && input.status == 0">
            <button class="btn btn-outline-success mr-2" (click)="updateStatusDocs(1)"><i class="fa fa-share mr-2"></i>Chuyển lãnh đạo duyệt</button>
            <button class="btn btn-outline-danger" (click)="deleteMany()"><i class="fa fa-trash mr-2"></i>Xóa</button>
        </div>
        <div class="col-md-12">
            <div class="w-100 mb-3 overflow-auto" [busy]="isTableLoading">
                    <p-table [styleClass]="'w-100'" [(selection)]="selectedArrivedDocuments" [columns]="columns" [value]="arrivedDocuments" [rowHover]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;">STT</th>
                                <ng-container *ngFor="let col of columns">
                                    <th>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                                <th *ngIf="input.status === 0">Ngày lưu</th>
                                <th *ngIf="input.status !== 0">Ngày chuyển</th>
                                <th *ngIf="input.status !== 0">Người xử lý chính</th>
                                <th style="width: 5rem;"> # </th>
                                <th style="width: 3rem;" *ngIf="input.status == 0">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                                <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <!-- <td *ngSwitchCase="'act'" align="center">
                                        <i class="cursor-pointer fa fa-edit text-danger" matTooltip="Sửa"
                                            (click)="edit(rowData)"></i>
                                        <i class="cursor-pointer fa fa-trash text-danger" matTooltip="Xóa"
                                            (click)="delete(rowData)"></i>
                                    </td> -->
                                    <td *ngSwitchCase="'urgentLevelName'">
                                        <span [ngSwitch]="rowData['urgentLevel']">
                                            <i *ngSwitchCase="1" class="fa fa-star text-success mr-2"></i>
                                            <i *ngSwitchCase="2" class="fa fa-star text-warning mr-2"></i>
                                            <i *ngSwitchCase="3" class="fa fa-star text-danger mr-2"></i>
                                            <i *ngSwitchCase="4" class="fa fa-rocket text-warning mr-2"></i>
                                            <i *ngSwitchDefault class="fa fa-rocket text-danger mr-2"></i>
                                        </span>
                                        {{rowData[col.field]}}
                                    </td>
                                    <td *ngSwitchDefault [attr.align]="col.align">
                                        {{rowData[col.field]}}
                                    </td>
                                </ng-container>
                                <td  align="center" *ngIf="input.status === 0">{{rowData['creationTime'] | date:'dd/MM/yyyy'}}</td>
                                <td  align="center" *ngIf="input.status !== 0">{{rowData['sentDate'] | date:'dd/MM/yyyy'}}</td>
                                <td *ngIf="input.status !== 0">{{rowData['approvedName']}}</td>
                                <td align="center" [ngSwitch]="this.input.status">
                                    <span *ngSwitchCase="0">
                                        <i class="cursor-pointer fa fa-edit text-primary mr-2" matTooltip="Sửa"
                                            (click)="editArrivedDocument(rowData['id'])"></i>
                                        <i class="cursor-pointer fa fa-trash text-danger position-relative" style="bottom: 1px;" matTooltip="Xóa"
                                            (click)="delete(rowData)"></i>
                                    </span>
                                    <span *ngSwitchDefault>
                                        <i class="cursor-pointer fa fa-search text-primary mr-2" matTooltip="Xem" (click)="viewArrivedDocument(rowData['id'])"></i>
                                        <i class="cursor-pointer fa fa-sitemap text-default position-relative" style="bottom: 1px;" matTooltip="Xem lịch sử xử lý" (click)="viewDocumentHistory(rowData['id'])"></i>
                                    </span>
                                </td>
                                <td align="center" *ngIf="input.status == 0">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="10">
                                    Không tìm thấy văn bản đến nào nào!
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                <mat-paginator style="position: sticky; left: 0;"
                    (page)="getDataPage($event.pageIndex, $event.pageSize)" [length]="totalItems"
                    [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
        </div>
    </div>
</section>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>