<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Gán người chỉnh sửa</h4>
        </div>
        <!-- <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)="openCreateRoot()"><i class="fa fa-plus mr-2"></i>Thêm mới phòng ban cấp cao</button>
        </div> -->
    </div>
    <p-tabView class="row" [activeIndex]="selectTabIndex" (onChange)="onChangeTab($event)">
        <p-tabPanel header="Cán bộ">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="w-100" [busy]="isTableLoading">
                        <p-tree selectionMode="checkbox" [propagateSelectionUp]="false" [propagateSelectionDown]="false" [(selection)]="selectedTreeNode" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnSelect($event)"  [styleClass]="'w-100'" [value]="listTreeNodeDepartments">
                        </p-tree>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                    <div class="w-100 overflow-auto" [busy]="isTableLoading">
                        <!-- <form [formGroup]="formGroup"> -->
                            <p-table  [styleClass]="'w-100'" [columns]="cols" [value]="departureDocumentUsers" [rowHover]="true" >
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <th *ngSwitchCase="'act'" align="center" style="width: 5rem;">
                                                #
                                            </th>
                                            <th *ngSwitchDefault [ngStyle]="{'width': col.width}">
                                                {{col.header}}
                                            </th>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template  pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                    <tr>
                                     
                                        <ng-container>
                                            <td class="text-center"> {{rowData["userFullName"]}}</td>
                                        </ng-container>
                                        <td class=" text-center">
                                            <p-checkbox  value="" binary="true" [(ngModel)]="rowData['nonExpired']" (ngModelChange)="changeNonExpired($event,rowIndex)"></p-checkbox>
                                        </td>
                                        <ng-container>
                                        <td class=" text-center">
                                            <p-calendar [dis] [(ngModel)]="rowData['expiredDate']" [disabled]="rowData['nonExpired']" [dateFormat]="dd/MM/yyyy" [style]="{'width':'80%'}"  [inputStyle]="{'width':'70%'}" 
                                                                icon="fa fa-calendar" [showIcon]="true" appendTo="body" [style]="{ 'overflow': 'visible', 'z-index': '999'}">
                                            </p-calendar>
                                            <!-- <div class="valid-height">
                                             <span style="color: #f44336;" *ngIf="checkExpireDate(rowData)">{{ 'Không được để trống' | localize }}</span> 
                                             </div> -->
                                        </td>
                                        </ng-container>  
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="3">
                                            Không tìm thấy danh mục nào!
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        <!-- </form> -->
                    </div>
                    <!-- </div>
                    </div>
                    <div class="card">
                        <div class="card-body"> -->
                            <div class="form-group" style="margin-top:10px">
                                <label class="required">Nội dung yêu cầu</label>
                                <textarea  [(ngModel)]="assignDepartureDocumentUserDto.content" class="w-100 form-control" pInputTextarea></textarea>
                                <!-- <mat-error *ngIf="formGroup.controls.departmentNameCtrl.hasError('required') && formGroup.controls.departmentNameCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error> -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right" style="margin-top:10px">
                        <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
                    </div>
                </div>
            
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-toast position="bottom-right"></p-toast>
</section>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>
