<section class="content">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Quản lý vai trò</h4>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-outline-primary" (click)='create()' ><i class="fa fa-plus mr-2"></i>Thêm mới</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="input-group">
                <input class="form-control" pInputText placeholder="Nhập từ khóa..." type="text" [(ngModel)]="keyword"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="getDataPage(0)"><i class="fa fa-search mr-2"></i>Tìm kiếm</button>
                </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="w-100 overflow-auto" [busy]="isTableLoading">
                <p-table [styleClass]="'w-100'" [columns]="cols" [value]="roles" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchCase="'act'" align="center" style="width: 5rem;">
                                    #
                                </th>
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 + (startIndex ? startIndex : 0) }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">                                
                                <td *ngSwitchCase="'act'" align="center">                                   
                                    <i class="cursor-pointer fa fa-edit text-primary mr-2" matTooltip="Sửa" (click)="edit(rowData)"></i>
                                    <i class="position-relative cursor-pointer fa fa-trash text-danger" style="bottom: 1px;" matTooltip="Xóa" (click)="delete(rowData)"></i>
                                </td>
                                <td *ngSwitchDefault align="center">
                                    {{rowData[col.field]}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="5">
                                Không tìm thấy vai trò nào!
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <mat-paginator #paginator style="position: sticky; left: 0;" (page)="getDataPage($event.pageIndex, $event.pageSize)" [length]="totalItems" [pageSizeOptions]="[10,20,50]"></mat-paginator>
            </div>
         </div>
    </div>
</section>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd icon="fa fa-exclamation-triangle">
    <p-footer>
        <button type="button" class="btn btn-outline-danger" (click)="cd.reject()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        <button type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="fa fa-check mr-2"></i>Đồng ý</button>
    </p-footer>
</p-confirmDialog>