<form [formGroup]="formGroupCreate">
<div class="row">
    <div class="col-12 mb-3">
        <h5 class="title">Tạo mới phòng ban</h5>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="required">Tên phòng / ban / đơn vị:</label>
            <input formControlName="departmentNameCtrl" [(ngModel)]="department.departmentName" class="w-100 form-control" pInputText/>
            <mat-error *ngIf="formGroupCreate.controls.departmentNameCtrl.hasError('required') && formGroupCreate.controls.departmentNameCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
        </div>
        <div class="form-group">
            <label>Cấp:</label>
            <input formControlName="levelCtrl" [(ngModel)]="department.level" class="w-100 form-control" pInputText/>
        </div>
        <div class="form-group">
            <label>Đơn vị / phòng / ban trực thuộc:</label>
            <input formControlName="dependentDepartmentCtrl" [(ngModel)]="dependentDepartmentName" class="w-100 form-control" pInputText/>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
            <button class="btn btn-outline-danger" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
        </div>
    </div>
</div>
</form>