<section class="content">
    <div class="row mb-3">
        <div class="col-md-6" >
            <h5 class="text-default" *ngIf="!data.showReleaseDetail && form.status != 3">Chi tiết văn bản cần phê duyệt</h5>
            <h5 class="text-default" *ngIf="form.status == 3">Chi tiết văn bản đã phê duyệt</h5>
            <h5 class="text-default" *ngIf="data.showReleaseDetail">Chi tiết văn bản </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Trích yếu</label>
        </div>
        <div class="col-md-8">
            <span>{{form.shortDescription}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Nơi lưu bản chính</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.storedPlace}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Phòng ban soạn thảo</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.departmentName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Ngày trình phê duyệt</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.requestDate | date: 'dd/MM/yyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Ý kiến người soạn</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.description}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Nội dung yêu cầu</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.contentRequest}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Lãnh đạo phê duyệt</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.approvedByName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Cán bộ soạn thảo</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.createdByName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Cấp độ mật</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.secretLevelName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Hạn xử lý</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.expiredDate | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Lĩnh vực văn bản</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.documentFieldName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Loại văn bản</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.documentTypeName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Cấp độ khẩn</label>
                </div>
                <div class="col-md-6">
                    <span>{{form.urgentLevelName}}</span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-6">
                <!-- <label *ngIf="data.allowUpload" class="position-absolute" style="bottom: 0;">{{l("File")}}</label> -->
                <label>{{l("File")}}</label>
            </div>
            <div *ngIf="data.isEdit" class="col-md-6 mb-2 text-right">
                <button class="btn btn-default" (click)="$event.stopPropagation(); focusChooseFiles()">Upload File</button>
                <input #chooseFile type="file" class="btn btn-uploadFile" hidden multiple (change)="chooseFiles($event)"/>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <div class="w-100 overflow-auto">
            <ng-container>
                <p-table [styleClass]="'w-100'" [columns]="columns" [value]="form.files" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                            <th align="center" style="width: 8rem;">{{l("Action")}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <td *ngSwitchDefault align="center">
                                    {{rowData[col.field]}}
                                </td>
                            </ng-container>
                            <td align="center">
                                <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"
                                    (click)="delete(rowData)"></i>
                                <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                    (click)="download(rowData.fileUrl)"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="3">
                                {{l("NotFoundFile")}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </div>
    </div>

    <div>
        <div class="row"> 
            <div class="col-md-6">
                <!-- <label *ngIf="data.allowUpload" class="position-absolute" style="bottom: 0;">File văn bản liên quan</label> -->
                <label>File văn bản liên quan</label>
            </div>
            <div *ngIf="data.isEdit" class="col-md-6 mb-2 text-right">
                <button class="btn btn-default" (click)="$event.stopPropagation(); focusChooseFilesAttach()">Upload File</button>
                <input #chooseFile type="file" class="btn btn-uploadFile" hidden multiple (change)="chooseFiles($event)"/>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <div class="w-100 overflow-auto">
            <ng-container>
                <p-table [styleClass]="'w-100'" [columns]="columns" [value]="form.attachedFiles" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;">STT</th>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <th *ngSwitchDefault>
                                    {{col.header}}
                                </th>
                            </ng-container>
                            <th align="center" style="width: 8rem;">{{l("Action")}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td class="text-center">{{ rowIndex + 1 }}</td>
                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                <td *ngSwitchDefault align="center">
                                    {{rowData[col.field]}}
                                </td>
                            </ng-container>
                            <td align="center">
                                <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"
                                    (click)="delete(rowData)"></i>
                                <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                    (click)="download(rowData.fileUrl)"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="3">
                                {{l("NotFoundFile")}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </div>
    </div>
    <div *ngIf="data.allowR" class="text-right">
       

    </div>
    <div class="text-right" *ngIf="data.allowAction">
        <button class="btn btn-default" *ngIf='form.status != 3' (click)="approveDocument()">Phê duyệt</button>
        <!-- <button class="btn btn-default" *ngIf='form.status == 3' (click)="sendRequestDocument()">Xử lý xong</button>   -->
        <!-- *ngIf='form.status == 0 || form.status == 2' -->
        <button class="btn btn-default" *ngIf='form.status != 3' (click)="rejecttDocument()">Từ chối</button>
        <button class="btn btn-default" *ngIf='form.status != 3' (click)="assignDepartureDocumentUser()">Yêu cầu chỉnh sửa</button>
        <button class="btn btn-default" (click)="close()">Hủy</button>
    </div>
    <div *ngIf="data.allowRelease" class="text-right">
        <button *ngIf="data.allowRelease" (click)="releaseDocument(data.id)" class="btn btn-default">Phát hành</button>
        <button (click)="closeReleaseDocument()" class="btn btn-default">Hủy</button>
    </div>
</section>