<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h5 class="title">Xác nhận phát hành văn bản</h5>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="required" class="w-100">Số kí hiệu:</label>

                <p-inputMask  formControlName="releasedSymbolCtrl" [mask]="mask" class="w-100 inputMask" [(ngModel)]="model.releasedSymbol"   ></p-inputMask>
                <mat-error
                    *ngIf="formGroup.controls.releasedSymbolCtrl.hasError('required') && formGroup.controls.releasedSymbolCtrl.touched">
                    {{ 'Không được để trống' | localize }}</mat-error>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Sổ bản phát hành</label>
                <input formControlName="releasedNumberCtrl" [(ngModel)]="model.releasedNumber" class="w-100 form-control" pInputText  type="number"  />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ngày phát hành:</label>   
                <!-- <input   formControlName="releasedDateCtrl"  [value]="{{model.releasedDate | date:'dd/MM/yyyy'}}" class="w-100 form-control" pInputText  />          -->
                <!-- <input   formControlName="releasedDateCtrl"  [(ngValue)]="model.releasedDate| date:'dd/MM/yyyy'" class="w-100 form-control" pInputText  /> -->
                <div>
                    <p-calendar disabled [styleClass]="'w-100'" [inputStyleClass]="'w-100'" formControlName="releasedDateCtrl" [readonlyInput]="true" [disabled]="true" [(ngModel)]="currentDate" dateFormat="dd/mm/yy"></p-calendar>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nơi nhận văn bản:</label>                
                <input formControlName="releasedReceiveOrgCtrl" [(ngModel)]="model.releasedReceiveOrg" class="w-100 form-control" pInputText  />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Người kí văn bản:</label>                
                <input formControlName="releasedSignedUserCtrl" [(ngModel)]="model.releasedSignedUser" class="w-100 form-control" pInputText />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Kí số tổ chức:</label>                
                <input formControlName="releasedNumOrgCtrl" [(ngModel)]="model.releasedNumOrg" class="w-100 form-control" pInputText/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Lưu</button>
                <button class="btn btn-outline-danger" (click)="close(false)"><i class="fa fa-ban mr-2"></i>Hủy</button>
            </div>
        </div>
    </div>
</form>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
