<div class="row mb-3">
  <div class="col-md-12">
    <h4 class="titleDetail">Xác nhận phê duyệt văn bản</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Nội dung phê duyệt</label>
      <textarea pInputTextarea class="w-100 form-control"
        [(ngModel)]="form.contentApproved"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="required">Chuyển tiếp văn thư</label>
      <div>
        <p-dropdown appendTo="body" autoWidth [(ngModel)]="form.nextPersonProcess"
          [options]="users" [styleClass]="'w-100'"></p-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="actionButton">
  <button class="btn btn-action" (click)="close(false)">Hủy</button>
  <button class="btn btn-action" (click)="save()">Xác nhận</button>
</div>