<form [formGroup]="formGroup">
<div class="row">
    <div class="col-12 mb-3">
        <h5 class="title">Sửa thông tin người dùng</h5>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="required">Họ:</label>
            <input formControlName="nameCtrl" class="w-100 form-control" pInputText [(ngModel)]="user.name"/>
            <mat-error *ngIf="formGroup.controls.nameCtrl.hasError('required') && formGroup.controls.nameCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="required">Tên:</label>
            <input formControlName="surnameCtrl" class="w-100 form-control" pInputText [(ngModel)]="user.surname"/>
            <mat-error *ngIf="formGroup.controls.surnameCtrl.hasError('required') && formGroup.controls.surnameCtrl.touched">{{ 'Không được để trống' | localize }}</mat-error>
        </div>
    </div>
    <div class="col-md-12">
        <label>Giới tính:</label>
        <p-radioButton class="ml-3" name="groupname" [value]="true" label="Nam" formControlName="genderMaleCtrl" [(ngModel)]="user.gender"></p-radioButton>
        <p-radioButton class="ml-3" name="groupname" [value]="false" label="Nữ" formControlName="genderFemaleCtrl" [(ngModel)]="user.gender"></p-radioButton>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Email:</label>
            <input formControlName="emailCtrl" class="w-100 form-control" pInputText [(ngModel)]="user.emailAddress"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Số điện thoại:</label>
            <input formControlName="phoneCtrl" class="w-100 form-control" pInputText [(ngModel)]="user.phoneNumber"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Phòng ban:</label>
            <div>
                <p-dropdown [styleClass]="'w-100'" [options]="values" formControlName="departmentCtrl" [ngModel]="isHavingDepartment" (onChange)="changeDepartment($event)">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{ selection ? selection.label : "-- Phòng ban --" }}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <p-tree *ngIf="item.value == 0" [styleClass]="'w-100'" [value]="departmentOptions" selectionMode="single" [(selection)]="selection" (onNodeSelect)="nodeSelect($event)"></p-tree>
                        <span *ngIf="item.value != 0">{{ item.label }}</span>
                    </ng-template>
                </p-dropdown>            
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Vai trò:</label>
            <div>
                <p-multiSelect formControlName="roleCtrl" defaultLabel="-- Vai trò --" [options]="roleOptions" [(ngModel)]="user.roleNames" [filter]="true" [styleClass]="'w-100'"></p-multiSelect>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Cấp bậc:</label>
            <div>
                <p-dropdown formControlName="positionCtrl" [options]="positionOptions" [(ngModel)]="user.positionId" [filter]="true" [styleClass]="'w-100'"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="required">Tài khoản:</label>
            <input formControlName="userCtrl" class="w-100 form-control" pInputText [(ngModel)]="user.userName"/>
        </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="form-group">
            <label>Mật khẩu mặc định:</label>
            <input class="w-100 form-control" pInputText/>
        </div>
    </div> -->
    <div class="col-12 text-right">
        <button class="btn btn-outline-primary mr-2" (click)="save()"><i class="fa fa-save mr-2"></i>Xác nhận</button>
        <button class="btn btn-outline-danger" (click)="cancel()"><i class="fa fa-ban mr-2"></i>Hủy</button>
    </div>
</div>
</form>