// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
body{
    font-family: 'Muli', sans-serif !important;
    background-color: #ffffff !important;
}
.sidebar {
    background-color: #3E4E62 !important;
} 
.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    border-left: 4px solid !important;
}
.sidebar .nav-link {
    padding: 0.5rem 0.75rem;
    margin: 0.3rem 0.5rem;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    // transition: background-color linear 200ms;
}
.sidebar .nav-link:not(.nav-dropdown-toggle) {
    transition: background-color linear 200ms;
}
.sidebar .nav-item {
    transition: none;
}
.sidebar .nav-link.active .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}
.sidebar .nav-link.active:hover{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}
.sidebar .nav-link.active:hover .nav-icon {
    color: #ffffff;
}
.sidebar .nav-link:hover {
    background-color: rgba(32, 168, 216, 0.5);
}
.sidebar .nav-link .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-toggler {
    outline: none !important;
}
.sidebar .nav-dropdown.open {
    background: rgba(0, 0, 0, 0.1);
}
.sidebar .nav-dropdown-toggle::before {
    top: 55%;
    right: 0.5rem;
}
.sidebar .nav-dropdown.open > .nav-dropdown-items {
    border-left: 10px solid transparent;
}
@media (min-width: 992px){
    .sidebar-fixed .sidebar {
        z-index: 1;
    }
    .sidebar-minimized .sidebar .nav-link {
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 0.25rem;
    }
    .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
        background-color: #3E4E62;
    }
    .sidebar-minimized .sidebar .nav-link .nav-icon {
        width: 43px;
    }
    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
        background: #3e4e62;
    }
    .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
        background-color: #3E4E62;
        width: auto;
    }
    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
        width: 192px;
    }
    .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
        background: #73818f;
    }
    .sidebar-minimized .sidebar .nav-item:hover{
        background: #3e4e62;
        border-top-right-radius: 5px;
    }
    .sidebar-minimized .sidebar .nav-dropdown.open > .nav-dropdown-items {
        border-left: 0 !important;
    }
}
.w-10 {
    width: 10%;
}
.w-150 {
    width: 150%;
}
.dropleft .dropdown-item {
    padding: 5px 10px !important;
    border: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.dropleft .dropdown-menu {
    top: -30px;
}
.dropdown-menu {
    left: auto;
    right: 1rem;
}
.cursor-pointer {
    cursor: pointer;
}
/* PRIMENG CSS */
body .ui-inputtext, body .ui-multiselect, body .ui-dropdown {
    border-color: #c8c8c8;
    // padding: 0.429em 0.6rem;
}
body .ui-widget, .mat-tab-group, .mat-checkbox, .mat-tab-label, .mat-tab-link {
    font-family: 'Muli', sans-serif !important;
}
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: #8ad4ee;
    box-shadow: 0 0 0 0.2em rgba(141, 205, 255, 0.41);
}
body .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #c8c8c8;
}
body .pi {
    font-size: 0.75rem;
    position: relative;
    bottom: 2px;
}
body .ui-treetable .ui-treetable-thead > tr > th, body .ui-table .ui-table-thead > tr > th {
    color: #ffffff;
    background-color: #3e4e62;
    font-weight: 400;
    text-align: center;
    padding: 1em;
    font-family: 'Muli', sans-serif !important;
}
body .ui-treetable.bg-white .ui-treetable-thead > tr > th, body .ui-table.bg-white .ui-table-thead > tr > th {
    background-color: #fff !important;
    color: #000000;
}
body .ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #3e4e62;
}
body .ui-table .ui-sortable-column:focus {
    box-shadow: inset 0 0 0 0.2em #3e4e62;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
    background-color: #3e4e62;
    color: #fff;
}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    top: 0;
}
body .ui-inputgroup .ui-inputgroup-addon.dropdown {
    background-color: #fff;
    border-color: #c8c8c8;
    border-left: 0;
}
body .ui-autocomplete-dropdown {
    font-size: 0.98rem;
    position: absolute;
    left: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    background-color: #eaeaea;
    border-color :#c8c8c8;
    color: #848484;
}
body .ui-autocomplete-dropdown:hover {
    background-color: #c8ced3 !important;
    color: #848484 !important;
    border-color: #c8c8c8 !important;
}
body .ui-autocomplete-dd .ui-inputtext {
    padding-left: 2.75rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
body .ui-button-autocomplete-suffix {
    position: absolute;
    right: calc(1rem - 1px);
    font-size: 0.98rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
body .pi {
    font-size: 1rem;
    bottom: 1px;
}
.mat-paginator {
    border: 1px solid #c8c8c8;
    border-top: 0;
    font-family: "Muli", sans-serif !important;
}
.mat-dialog-container {
    padding: 20px !important;
    overflow: visible !important;
}
.mat-error {
    position: absolute;
    font-size: 0.75rem;
}
.title {
    font-weight: 600;
    color: #3e4e62;
    border-left: 2px solid;
    padding-left: 10px;
}
.required::after {
    content: "*";
    color: red;
}
.text-default {
    color: #3e4e62 !important;
}
.btn-default {
    color: #fff;
    background-color: #3e4e62;
}
.btn-default:hover {
    color: #fff;
    background-color: #2b3138;
}

label {
    color: #3E4E62 !important;
    font-weight: 600;
}
.box-advanced-search {
    border: 1px dashed #c8ced3;
}
.box-advanced-search label {
    min-width: 2rem;
}
body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    font-size: 0.98rem;
    top: 2px;
    border: 1px solid #c8c8c8;
    border-left: none;
}
.form-control:disabled, .form-control[readonly], body .ui-state-disabled, body .ui-widget:disabled, .ui-dropdown.ui-state-disabled .ui-dropdown-trigger, .ui-dropdown.ui-state-disabled .ui-dropdown-label {
    background-color: #f0f3f5 !important;
    color: #000000 !important;
    opacity: 0.8;
}
// .ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext, p-chips.ng-dirty.ng-invalid > .ui-inputtext, p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, p-listbox.ng-dirty.ng-invalid .ui-inputtext, p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, p-spinner.ng-dirty.ng-invalid > .ui-input {
//     border: 1px solid #a80000 !important;
// }

.inputMask input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
    width: 100%;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-chkbox .ui-chkbox-icon {
    margin-top: 0;
}
.mat-dialog-content {
    margin: 0 -20px !important;
}