<form [formGroup]="formGroup" novalidate>
    <section class="content">
        <div class="row mb-3">
            <div class="col-md-6">
                <h4>Soạn thảo văn bản</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h6>1. Thông tin chi tiết văn bản</h6>
                    <label class="required">Nội dung trích yếu:</label>
                    <textarea formControlName="shortDescriptionCtrl" pInputTextarea class="w-100 form-control"
                        [(ngModel)]="form.shortDescription"></textarea>
                    <mat-error
                        *ngIf="formGroup.controls.shortDescriptionCtrl.hasError('required') && formGroup.controls.shortDescriptionCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Loại văn bản:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="documentTypeCtrl"
                            [(ngModel)]="form.documentTypeId" [options]="documentTypes"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.documentTypeCtrl.hasError('required') && formGroup.controls.documentTypeCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Lĩnh vực văn bản:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="documentFieldCtrl"
                            [(ngModel)]="form.documentFieldId" [options]="documentFields"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.documentFieldCtrl.hasError('required') && formGroup.controls.documentFieldCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Năm:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="yearCtrl" [(ngModel)]="form.year"
                            [options]="years"></p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.yearCtrl.hasError('required') && formGroup.controls.yearCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nơi lưu bản chính:</label>
                    <input formControlName="storedPlaceCtrl" [(ngModel)]="form.storedPlace" class="w-100 form-control"
                        pInputText />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Phòng ban soạn thảo:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" [options]="values" (onChange)="changeDepartment($event)"
                            formControlName="selectedPublishedOrganizationCtrl" [(ngModel)]="form.departmentId">
                            <ng-template let-item pTemplate="selectedItem">
                                <span
                                    style="vertical-align:middle">{{ selection ? selection.label : "-Chọn phòng ban soạn thảo-" }}</span>
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <p-tree [styleClass]="'w-100'" [value]="departments" selectionMode="single"
                                    [(selection)]="selection" (onNodeSelect)="nodeSelect($event)"></p-tree>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.selectedPublishedOrganizationCtrl.hasError('required') && formGroup.controls.selectedPublishedOrganizationCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required">Cán bộ soạn thảo:</label>
                    <div>
                        <p-dropdown placeholder="-Chọn cán bộ soạn thảo-" [styleClass]="'w-100'" [options]="users"
                            formControlName="createdByNameCtrl" [(ngModel)]="form.createdById">
                        </p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.createdByNameCtrl.hasError('required') && formGroup.controls.createdByNameCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required">Cấp độ khẩn:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="urgentLevelCtrl"
                            [(ngModel)]="form.urgentLevel" [options]="urgentLevels">
                        </p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.urgentLevelCtrl.hasError('required') && formGroup.controls.urgentLevelCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required">Cấp độ mật:</label>
                    <div>
                        <p-dropdown [styleClass]="'w-100'" formControlName="secretLevelCtrl"
                            [(ngModel)]="form.secretLevel" [options]="secretLevels">
                        </p-dropdown>
                    </div>
                    <mat-error
                        *ngIf="formGroup.controls.secretLevelCtrl.hasError('required') && formGroup.controls.secretLevelCtrl.touched">
                        {{ 'Không được để trống' | localize }}</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Số trang văn bản:</label>
                    <input class="form-control" formControlName="numberOfPagesCtrl" [(ngModel)]="form.numberOfPages"
                        class="w-70 form-control" pInputText />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Ý kiến người soạn:</label>
                    <textarea formControlName="descriptionCtrl" pInputTextarea class="w-100 form-control"
                        [(ngModel)]="form.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label class="required">File văn bản:</label>
                    </div>
                    <div class="col-md-9 text-right">
                        <a *ngIf="this.form.status === 0 || !this.form.status" href="javascripts:;"
                            (click)="$event.stopPropagation(); focusChooseFiles()"><i class="fa fa-link mr-1"></i>Upload
                            file</a>
                        <input #chooseFile accept=".doc,.xlsx,.xls,.pdf,.docx" type="file" hidden multiple
                            (change)="chooseFiles($event)" />
                    </div>
                </div>
                <div>
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Văn bản</th>
                                <th scope="col" *ngIf="this.form.status === 0 || !this.form.status">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let file of form.files; let i= index">
                                    <td>{{ i + 1  }}</td>
                                    <td>
                                        <a href="javascripts:;" (click)="download(file.fileUrl)">{{ file.fileName }}</a>
                                    </td>
                                    <td *ngIf="!this.form.status">
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFile(i)"></i>
                                    </td>
                                    <!-- <td *ngIf="this.form.status === 0">
                                        <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"></i>
                                        <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                            (click)="download(rowData.fileUrl)"></i>
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFile(i)"></i>
                                    </td> -->
                                </tr>
                                <tr *ngFor="let file of relatedFiles; let i= index">
                                    <td>{{ i + 1 + form.files.length }}</td>
                                    <td>{{ file.name }}</td>
                                    <td *ngIf="!this.form.status">
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFile(i)"></i>
                                    </td>
                                    <!-- <td *ngIf="this.form.status === 0">
                                        <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"></i>
                                        <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                            (click)="download(rowData.fileUrl)"></i>
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFile(i)"></i>
                                    </td> -->
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="required">File văn bản liên quan:</label>
                    </div>
                    <div class="col-md-7 text-right">
                        <a *ngIf="this.form.status === 0 || !this.form.status" href="javascripts:;"
                            (click)="$event.stopPropagation(); focusChooseFilesAttach()"><i
                                class="fa fa-link mr-1"></i>Upload file</a>
                        <input #chooseFileAttach accept=".doc,.xlsx,.xls,.pdf,.docx" type="file" hidden multiple
                            (change)="chooseFiles($event)" />
                    </div>
                </div>
                <div>
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Văn bản</th>
                                <th scope="col" *ngIf="this.form.status === 0 || !this.form.status">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let file of form.attachedFiles; let i= index">
                                    <td>{{ i + 1  }}</td>
                                    <td>
                                        <a href="javascripts:;" (click)="download(file.fileUrl)">{{ file.fileName }}</a>
                                    </td>
                                    <td *ngIf="!this.form.status">
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFileAttach(i)"></i>
                                    </td>
                                    <!-- <td *ngIf="this.form.status === 0">
                                        <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"></i>
                                        <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                            (click)="download(rowData.fileUrl)"></i>
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFileAttach(i)"></i>
                                    </td> -->
                                </tr>
                                <tr *ngFor="let file of attachFiles; let i= index">
                                    <td>{{ i + 1 + attachFiles.length }}</td>
                                    <td>{{ file.name }}</td>
                                    <td *ngIf="!this.form.status">
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFileAttach(i)"></i>
                                    </td>
                                    <!-- <td *ngIf="this.form.status === 0">
                                        <i class="cursor-pointer fa fa-eye mr-2" matTooltip="{{l('View')}}"></i>
                                        <i class="cursor-pointer fa fa-download" matTooltip="{{l('Download')}}"
                                            (click)="download(rowData.fileUrl)"></i>
                                        <i class="ml-2 cursor-pointer fa fa-trash text-danger position-relative"
                                            style="bottom: 1px;" matTooltip="Xóa" (click)="removeFileAttach(i)"></i>
                                    </td> -->
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</form>
<div class="text-right mb-3 w-100">
    <button type="button" class="btn btn-outline-primary" (click)="sendRequestDocument()">Trình phê duyệt</button>
    <button type="button" class="btn btn-outline-primary" (click)="save()">Lưu</button>
    <button type="button" class="btn btn-outline-danger">Hủy</button>
</div>