  <form [formGroup]="formGroup">
    <div class="row mb-3">
      <div class="col-md-12">
        <h4 class="titleDetail">Trình phê duyệt văn bản đi</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngIf="isFirstStep" hidden>
        <div class="form-group">
          <label>Lãnh đạo phòng/đơn vị</label>
          <div>
            <p-dropdown autoWidth appendTo="body" formControlName="departmentCtrl" [styleClass]="'w-100'" [(ngModel)]="form.departmentApproved" [options]="managerDepartments">
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="isFirstStep">
        <div class="form-group">
          <label>Chọn lãnh đạo</label>
          <div>
            <p-dropdown appendTo="body" autoWidth formControlName="managerCtrl" [(ngModel)]="form.approvedById" [options]="users" [styleClass]="'w-100'"></p-dropdown>      
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!isFirstStep">
        <div class="form-group">
          <label>Chọn lãnh đạo</label>
          <div>
            <p-dropdown appendTo="body" autoWidth formControlName="managerCtrl" [(ngModel)]="form.approvedById" [options]="users" [styleClass]="'w-100'"></p-dropdown>      
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Không có thời hạn</label>
        <p-checkbox binary="true" formControlName="unlimitedCtrl" name="group1" value="false" (onChange)="handleChangeCheckbox($event)" [(ngModel)]="form.isExpired"></p-checkbox>
      </div>
      <div class="col-md-6">
        <label>Hạn xử lý</label>
        <p-calendar [disabled]="isExpired" formControlName="deadlineCtrl" dateFormat="dd/mm/yy" icon="fa fa-calendar" [showIcon]="true" [(ngModel)]="form.deadlineDate"
          ></p-calendar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <!-- <h6>1. Thông tin chi tiết văn bản</h6> -->
          <label>Nội dung yêu cầu</label>
          <textarea formControlName="contentCtrl" pInputTextarea class="w-100 form-control" [(ngModel)]="form.content"></textarea>
        </div>
      </div>
    </div>
  </form>
  <div class="actionButton">
    <button class="btn btn-action" (click)="close(false)">Hủy</button>
    <button class="btn btn-action" *ngIf="!isDraft" (click)="save()">Xác nhận</button>
    <button class="btn btn-action" *ngIf="isDraft" (click)="sendRequest()">Xác nhận</button>
  </div>